<div class="overlay"></div>
<div class="benefits section"> 

    <p class="benefits-title"> <b>BENEFICIOS</b>  </p>
    <div class="spacer-15"></div>
    <div class="spacer-30"></div>
         <ul fxLayout="row wrap" fxLayoutAlign="space-between start" class="presentation-subjects text-thin"> 

            
             <li >
             <div class="benefits-item hover__zoomIn" fxLayout="column" fxLayoutAlign="center center">
                    <div class="benefits-item-icon__container">
                        <img class="benefits-item-icon" src="/assets/images/benefits/libro.png" alt="">
                        <img class="benefits-item-icon benefits-item-icon--accent" src="/assets/images/benefits/libro.png" alt="">
                    </div>
                    
                    <div>
                            <div class="benefits-item-sub benefits-item-sub--1" >
                                <b class="benefits-item-text-principal"> Porción de pasteles</b>  
                            </div>
                            <div class="benefits-item-sub benefits-item-sub--1" > 
                                    <img class="benefits-item-check" src="/assets/images/benefits/check-01.png" alt="">
                                       <b class="benefits-item-text"> Pye de Manzana    </b>      
                            </div>
                            <div  class="benefits-item-sub benefits-item-sub--1">
                                    <img class="benefits-item-check" src="/assets/images/benefits/check-01.png" alt="">
                                        <b class="benefits-item-text"> Crema Volteada  </b> 
                                </div>
                            <div  class="benefits-item-sub benefits-item-sub--1">
                                    <img class="benefits-item-check" src="/assets/images/benefits/check-01.png" alt="">
                                        <b class="benefits-item-text">  Torta Helada  </b> 
                            </div>
                            <div  class="benefits-item-sub benefits-item-sub--1">
                                    <img class="benefits-item-check" src="/assets/images/benefits/check-01.png" alt="">
                                        <b class="benefits-item-text"> Torta de Chocolate  </b> 
                                </div>
                            <div  class="benefits-item-sub benefits-item-sub--1">
                                    <img class="benefits-item-check" src="/assets/images/benefits/check-01.png" alt="">
                                        <b class="benefits-item-text">  Muss de Lúcuma  </b> 
                            </div>
                    </div>
                    
                    
        
                </div>
    

            </li>
            
        <li  >
            <div class="benefits-item hover__zoomIn" fxLayout="column" fxLayoutAlign="center center">
                   
                    <div class="benefits-item-icon__container">
                        <img class="benefits-item-icon" src="/assets/images/benefits/ppt.png" alt="">
                        <img class="benefits-item-icon benefits-item-icon--accent" src="/assets/images/benefits/ppt.png" alt="">
                    </div>

                     <div>
                            <div class="benefits-item-sub benefits-item-sub--1" >
                                <b class="benefits-item-text-principal"> Copas</b>  
                            </div>
                            <div class="benefits-item-sub benefits-item-sub--1" >
                                <img class="benefits-item-check" src="/assets/images/benefits/check-01.png" alt="">
                                    <b class="benefits-item-text">  Cheesecake de maracuya</b>
                                        <!--   <br> <span style="padding-left: 23px">  Básico, Intermedio y avanzado </span>  </b> -->
                            </div>      
                            <div class="benefits-item-sub benefits-item-sub--1"  >
                                <img class="benefits-item-check" src="/assets/images/benefits/check-01.png" alt="">    
                                    <b class="benefits-item-text"> Cheesecake de fresa</b> 
                                        <!--<span style="padding-left: 23px">el examen inscripción al examen y</span><br>
                                        <span style="padding-left: 23px">obtención de membresía</span>  </b> -->
                            </div>
                            <div  class="benefits-item-sub benefits-item-sub--1">
                                    <img class="benefits-item-check" src="/assets/images/benefits/check-01.png" alt="">
                                        <b class="benefits-item-text"> Delicia de Oreo  </b> 
                                </div>
                            <div  class="benefits-item-sub benefits-item-sub--1">
                                    <img class="benefits-item-check" src="/assets/images/benefits/check-01.png" alt="">
                                        <b class="benefits-item-text">  Torta Alemana  </b> 
                            </div>
                     </div>
                         
            </div>
            </li>
        
        
        <li   >
             <div class="benefits-item hover__zoomIn" fxLayout="column" fxLayoutAlign="center center">
                    <div class="benefits-item-icon__container">
                        <img class="benefits-item-icon" src="/assets/images/benefits/foco.png" alt="">
                        <img class="benefits-item-icon benefits-item-icon--accent" src="/assets/images/benefits/foco.png" alt="">
                    </div>
                <div>
                    <div class="benefits-item-sub benefits-item-sub--1" >
                        <b class="benefits-item-text-principal"> Empanadas</b>  
                    </div>
                    <div class="benefits-item-sub benefits-item-sub--1" >
                        <img class="benefits-item-check" src="/assets/images/benefits/check-01.png" alt="">
                        <b class="benefits-item-text"> Empanada de Carne</b>
                    </div>
                    <div class="benefits-item-sub benefits-item-sub--1" >
                        <img class="benefits-item-check" src="/assets/images/benefits/check-01.png" alt="">
                        <b class="benefits-item-text"> Empanada de Pollo  </b>  
                    </div>
                </div>       
            </div>
            </li> 
            <li   >
                    <div class="benefits-item hover__zoomIn" fxLayout="column" fxLayoutAlign="center center">
                           <div class="benefits-item-icon__container">
                               <img class="benefits-item-icon" src="/assets/images/benefits/foco.png" alt="">
                               <img class="benefits-item-icon benefits-item-icon--accent" src="/assets/images/benefits/foco.png" alt="">
                           </div>
                       <div>
                           <div class="benefits-item-sub benefits-item-sub--1" >
                               <b class="benefits-item-text-principal"> Bebidas calientes</b>  
                           </div>
                           <div class="benefits-item-sub benefits-item-sub--1" > 
                                <img class="benefits-item-check" src="/assets/images/benefits/check-01.png" alt="">
                                   <b class="benefits-item-text"> Café americano  </b>      
                           </div>
                           <div  class="benefits-item-sub benefits-item-sub--1">
                                <img class="benefits-item-check" src="/assets/images/benefits/check-01.png" alt="">
                                    <b class="benefits-item-text"> Té  </b> 
                            </div>
                           <div  class="benefits-item-sub benefits-item-sub--1">
                                <img class="benefits-item-check" src="/assets/images/benefits/check-01.png" alt="">
                                    <b class="benefits-item-text">  Manzanilla  </b> 
                           </div>
                           <div  class="benefits-item-sub benefits-item-sub--1">
                                <img class="benefits-item-check" src="/assets/images/benefits/check-01.png" alt="">
                                    <b class="benefits-item-text"> Anis   </b> 
                            </div>
                           <div  class="benefits-item-sub benefits-item-sub--1">
                                <img class="benefits-item-check" src="/assets/images/benefits/check-01.png" alt="">
                                    <b class="benefits-item-text">  Chocolate  </b> 
                           </div>
                        </div>    
                   </div>
                   </li> 
                   <li   >
                        <div class="benefits-item hover__zoomIn" fxLayout="column" fxLayoutAlign="center center">
                               <div class="benefits-item-icon__container">
                                   <img class="benefits-item-icon" src="/assets/images/benefits/foco.png" alt="">
                                   <img class="benefits-item-icon benefits-item-icon--accent" src="/assets/images/benefits/foco.png" alt="">
                               </div>
                           <div>
                               <div class="benefits-item-sub benefits-item-sub--1" >
                                   <b class="benefits-item-text-principal"> Bebidas frescas naturales</b>  
                               </div>

                              <div  class="benefits-item-sub benefits-item-sub--1">
                                <img class="benefits-item-check" src="/assets/images/benefits/check-01.png" alt="">
                                    <b class="benefits-item-text"> Chicha   </b> 
                               </div>
                               <div  class="benefits-item-sub benefits-item-sub--1">
                                <img class="benefits-item-check" src="/assets/images/benefits/check-01.png" alt="">
                                    <b class="benefits-item-text">  Agua de Maracuya  </b> 
                               </div>
                           </div>       
                       </div>
                       </li>             
                                    
        </ul>

</div>