
@import "../../../assets/styles/1-settings/index";
@import "../../../assets/styles/2-tools/index";


:host{

    background-image: url("http://www.festivalpostreybotana.com/img/Gallery/Postres-Botana-banner77.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(112, 112, 112, 0.9);
}

.benefits{
    color: #FFF;
    position: relative;
    font-family: 'Museo';
}

.benefits-title{
    font-size: 30px;
    color: #80192B;
    @include device-md{

     font-size: 40px;   
    }
      
   

}
.benefits-item-text{
    color: #10273F;
    font-family: 'Museo';
}
.benefits-item-text-principal{
    color: #10273F;
    font-family: 'Museo';
    font-size: 20px;
    font-weight: bold;
    margin-left: 50px;
}
.benefits-text{
    // font-size: 25px;
    text-align: left;
  

  @include device-md{
      
    // font-size: 25px;
    line-height: 1.5;
  
  }
}

.benefits-item-check{
    width: 20px;
    height: 20px;
}




.benefits-item{
    padding: 20px;
    font-size: 1em;
    @include flexFlex(30%);
    &:hover{
        .benefits-item-icon--accent{
            @include opacity(1);
        }
    }
}

.benefits-item-icon__container{
    position: relative;
    @include layoutFlex();
    @include justifyContent(center);
    @include alignItems(center);
    .benefits-item-icon{
        // width: 90px;
        width: 50%;
        @include filterRaw(brightness(0) invert(1));
        &--accent{
            position: absolute;
            left: 50%;
            top: 0;
            @include opacity(0);
            @include filterRaw(unset);
            @include transform(translateX(-50%));
            @include transition2(.2s opacity ease);
        }
    }
    
}


.benefits-item-sub--1{
    // font-size: 15px;
    color: #FFF;
    text-align: justify;

}







