<div class="overlay"></div>
<div class="ninja-formation section" fxLayout="column" fxLayoutAlign="center center">
    <button class="btn" routerLink="/formacion">
        <b>FORMACIÓN</b> <span class="text-thin">NINJA</span>
    </button>
</div> 
    
