

@import "../../../assets/styles/1-settings/index";
@import "../../../assets/styles/2-tools/index";


:host{
    background-image: url(/assets/images/ninja-formation/phone-phone.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.65);
}

.ninja-formation{
    position: relative;
    height: 450px;
}

.btn{
    border: 1px solid #FFF;
    color: #FFF;
    padding: 8px 15px;
    font-size: 1.5em;
    text-align: center;

    @include device-md{
        font-size: 2em;
       

    }

}

.btn:hover{
    background-color: rgba(0,0,0,.5);
}
