.flotante{
    display: none;
    background: white;
    height: 140px;
    opacity: .02;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
    
    
 //   filter:brightness(0);
    
}



.flotante:hover{

        opacity: 1;
        
    
}
