<div class="flotante" fxLayout="column"  fxLayoutAlign="center center" routerLink="flotante" [scrollTo]="0">
    <img   class="arrow-down animated bounce infinite" src="/assets/images/serviciosadicionales/Recurso2.png" alt="">

        <!--<img  class="arrow-down animated bounce infinite" src="/assets/images/common/arrow-down.svg" alt=""
  scrollTo=".mobile-now__content">-->
</div>