<div class="bocaditos-intro intro"fxLayout="column" fxLayoutAlign="center center">
    <!--<img  class="arrow-down animated bounce infinite" src="/assets/images/common/arrow-down.svg" alt=""
  scrollTo=".mobile-now__content">-->
  <div class="cuadro">
  <p class="bocaditos-title"> BOCADITOS   </p><br/>
  </div>
  
  <div class="bocaditos-subtittle"> Te  <strong>brindamos</strong> la opción de hacer <strong>bocaditos</strong> buenazos a una <strong>inversión 
    <br>razonable</strong> y así brindar <strong>alegría</strong> a tus invitados. Puedes recogerlo 
    <br> en nuestras <strong>oficinas,</strong> módulo <strong>físico</strong> ó te lo <strong>llevamos.</strong>
  </div>
  </div>
  
  
  <div id="container">
    <div ng2-carouselamos class="slides-wrapper"
               [items]="items"
               [width]="1350"
               [$prev]="prev"
               [$next]="next"
               [$item]="item">
            </div>
            <ng-template #prev>
                <img src="/assets/images/servicios/left.png"  id="left">
              </ng-template>
  
              <ng-template #next>
                <img src="/assets/images/servicios/rigth.png"  id="right">
              </ng-template>
  
              <ng-template #item let-item let-i="index" >
                <div class="items">
  
                <!--    <img src="/assets/images/productos/tentacionesnormal-03.jpg">-->
                <img id="tama" src="{{ item.name }}">
                </div>
              </ng-template>
  </div>
  
  <div class="espacio">
    <app-flotante></app-flotante>
  </div>
  