<div class="content section">


<p class="content-title"> CONTENIDO </p>

<p class="content-subtitle text-thin "> Público: </p>

<p class="content-text text-thin">    Emprendedores. ¿Serás de los profesionales que se quedarán con las prácticas antiguas de marketing digital o formarás
  parte de ese nuevo grupo de profesionales que están utizliando la inteligencia artificial a su favor?  </p>












</div>