
.content{
    color: #000000 ;
}

.content-title{
    font-size: 30px;
    margin: 20px 0 ;
}

.content-subtitle{
font-size: 20px;
margin: 20px 0 ;
}

.content-text{
    font-size: 20px;
    line-height: 1 ;
    margin: 20px 0 ;
}