@import "../../../assets/styles/1-settings/index";
@import "../../../assets/styles/2-tools/index";

:host{
}

.step{
    max-width: 420px;
    font-size: 14px;
    &--2{
        position: relative;
        left: 50%;
        @include transform(translateX(-50%));
        @include device-md{
            @include transform(translateX(0%));
        }
    }
    .number-flow{
        font-size: 4em;
    }
    .flow-title{
        font-size: 1.9em;
    }
    .flow-subtitle{
        font-size: 1.9em;
    }
    .flow-description{
        padding-left: 20px;
        text-align: justify;
    }
}

.flow{
    font-family: 'Museo';
    color:#656263;
    &__exclamation{
        padding: 0px 15px;
        background-color: #000000;
        color: #f6ce00;
    }
}

.number-flow{
    // font-size: 95px;
    // color: #000000;
    line-height: 1;

}

.flow-title{
// font-size: 30px;
// color: #000000;
line-height: 1;

@include device-md{
    font-size: 2em;
    

}

}

.flow-subtitle{
    // color: #000000;
    // font-size: 30px;
    line-height: 1;
    text-align: left;
    @include device-md{
    // font-size: 40px;


}
}


.before-ul-flow{
    list-style: disc;
    color: #656263;
    padding-left: 50px;
}

.flow-sub-sub{
   position: relative;
   padding-left: 50px;
//    font-size: 20px;
   text-align: left;
  @include device-md{

    // font-size: 30px;

  }

  }


.imagen-flow{
    position: absolute;
    width: 30px;
    top: 0;
    left: 15px;
}
.before-ul-flow-list{
    color: #656263;
    list-style: disc;
    padding-left:  50px;
}

.methodology-flow-img-now{
    padding-top: 20px;
    width: 70%;
    img{
        width: 100%;
    }
}

.methodology-flow-img-now-2{
    padding-top: 20px;
    float: right;
    width: 70%;
    img{
        width: 100%;
    }
}

.flow-text-tittle{
    font-size: 30px;
    font-weight: bold;
    color: #80192B;
}

.flow-text-description{
    line-height: normal;
    color: #10273F;
}

.flow-component-part2{
    padding-top: 40px
}

.flow-component-part3{
    padding-top: 40px
}

.flow-component-part4{
    padding-top: 40px
}
.before-ul-flow{
    list-style: disc;
    color: #656263;
    padding-left: 50px;
}

.flow-sub-sub{
    position: relative;
  padding-left: 50px;
  color: #000000;
//   font-size: 20px;
}
.imagen-flow{
    position: absolute;
    width: 30px;
    top: 0;
    left: 15px;
   
}



.before-ul-flow-list{
    color: #656263;
    list-style: disc;
    padding-left:  50px;
}







