<div class="flow section">
    <div fxLayout="row" class="flow-component-part1">

        <div class="line-1-text" fxFlex="50%">
            <div fxFlex>
                <div class="methodology-flow-img-now">
                    <img src="/assets/images/us/us-1.png" alt="">
                </div>
            </div>
        </div>

        <div fxLayout="row" fxLayoutGap="10px" fxFlex="50%">
            <div fxFlex>
                <div class="flow-text-tittle">Torta 3 leches de Vainilla</div>
                <!--
                <p class="flow-text-description">Es la primera etapa en el que el alumnos se informa a cerca de todo el
                    curso, metodología, dinámicas, sesiones y experiencia del profesor. En esta etapa el alumno recibe
                    una sesión introductoria de 3 horas donde se formarán equipos y grupos de estudios que serán
                    necesarios para potenciar el aprendizaje de cada estudiante.</p>-->
            </div>
        </div>
    </div>

    <div fxLayout="row" class="flow-component-part2">
        <div fxLayout="row" fxLayoutGap="10px" fxFlex="50%">
            <div fxFlex>
                <div class="flow-text-tittle">Torta de Chocolate</div>
            </div>
        </div>
        <div class="line-1-text" fxFlex="50%">
            <div fxFlex>
                <div class="methodology-flow-img-now-2">
                    <img src="/assets/images/us/us-2.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <div fxLayout="row" class="flow-component-part3">
        <div class="line-1-text" fxFlex="50%">
            <div fxFlex>
                <div class="methodology-flow-img-now">
                    <img src="/assets/images/us/us-3.png" alt="">
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="10px" fxFlex="50%">
            <div fxFlex>
                <div class="flow-text-tittle">Torta Helada</div>
            </div>
        </div>
    </div>

    <div fxLayout="row" class="flow-component-part4">
            <div fxLayout="row" fxLayoutGap="10px" fxFlex="50%">
                <div fxFlex>
                    <div class="flow-text-tittle">Torta de Lúcuma</div>
                </div>
            </div>
            <div class="line-1-text" fxFlex="50%">
                <div fxFlex>
                    <div class="methodology-flow-img-now-2">
                        <img src="/assets/images/us/us-2.png" alt="">
                    </div>
                </div>
            </div>
        </div>

</div>