$global-color: #676a6c;
$backdrop-color: #f3f3f4;

$color-primary: #00b31a;
$color-primary-lighter: #5be651;//lighten($color-primary, 5%);
$color-primary-darker: #008200;

$color-accent-lighter: #8c98ff;
$color-accent: #506afa;
$color-accent-darker: #0040c6;

$color-warn: #f44336;
$color-warn-lighter: lighten($color-warn,35%);

$blue: #10273F;
$red: #80192B;
$white: #ffff;
$sky-blue: #27b4e5;
$creatividad-color: #80192B;
$backend-color: #21b709;
$mobile-color: #10273F;