$open-sans: 'Open Sans';
$montserrat: 'Montserrat';
$mousse: 'Mousse';
$font-primary: $montserrat, sans-serif;
$museo: 'Museo';
$lato: 'lato';
$cookie:'cookie';
$kafka:'kafka';
$smell:'smell';
$LiarScript:'Liar Script';
$albondigas:'Albondigas';
$QueenOfHeaven:'Queen of Heaven';
$satisfy:'Smell a Daisy Personal Use'

