$app-link-color-theme: $color-accent-darker;

.#{$global-namespace}-link{
    cursor: pointer;
    color: inherit;//$app-link-color-theme;
    position: relative;
    text-decoration: none;
    &, &:active, &:visited, &:active{
        text-decoration: none;
    }
    &:before{
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: currentColor;//$app-link-color-theme;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.15s ease-in-out 0s;
        transition: all 0.15s ease-in-out 0s;        
    }
    &.active:before, &:hover:before{
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}