$paginator-height: 37px;

.#{$global-namespace}{
    &-table{
        width: 100%;
        display: table;
        &-row{
            display: table-row;
            @include transition2(0.1s all linear);
            &:not(:first-child):hover{
                @include transition2(0.1s all linear);
                background-color: #DDDDDD !important;
            }
            &--selectable{
                cursor: pointer;
            }
            .#{$global-namespace}-table{
                &-header, &-cell{
                    padding: 10px 20px;
                    vertical-align: middle;
                    white-space: nowrap;
                    font-size: 13px;
                    &--center{
                        text-align: center;
                    }
                }
                &-cell{
                    // text-transform: uppercase;
                    display: table-cell;
                    border-bottom: 1px solid rgba(167,167,167,.1);
                    &__checkbox{
                        padding: 10px 24px;
                        padding-right: 0px;
                        width: 50px;
                    }
                }
                &-header{
                    display: table-cell;
                    font-weight: 700;
                    text-transform: uppercase;
                    border-bottom: 1px solid #CED7DC;
                    color: #444;
                }
            }
        }
        &-row:nth-child(2n+1):not(:first-child){
            // background-color: #f9f8f8;
        }
        &-row:first-child{
            .#{$global-namespace}-table-cell__checkbox{
                border-bottom: 1px solid #CED7DC;
            }
        }
        &--no-pagination{
            margin-bottom: $paginator-height;
        }
        &--empty{
            padding: 0px 20px; 
            .#{$global-namespace}-table__empty-message{
                font-size: 16px;
                background-color: $color-primary-lighter;
                padding: 40px;            
                @include borderRadius(3px);
            }
        }
    }
    &-table-paginator{
        min-height: $paginator-height;
        @include layoutFlex();
        @include directionFlex(row);
        @include justifyContent(flex-end);
        @include alignItems(center);
        padding: 0px 12px;
        &__action{
            cursor: pointer;
            padding: 8px 12px;
            @extend .noselect;
            @include transition2(0.1s all linear);
            &:hover{
                @include transition2(0.1s all linear);
                background-color: #DDDDDD;
            }
            &--disabled{
                cursor: not-allowed;
                color: #CCCCCC;
                &:hover{
                    background-color: transparent;
                }
            }
        }
        &__label{
            font-size: 12px;
            &__current-page{
                width: 50px;
                padding: 1px 3px;
                @extend .noselect
            }
        }
    }
}