// @import '~@angular/material/theming';

.landing{
    width: 100%;
    min-height: 100vh;
    // overflow: auto;
    .intro{
      //color: red;
        background-position: center;
        background-size: cover;
        background-image: url(/assets/images/presentation/tentacioneas-01.png);
        height: 100vh;
        width: 100%;
        position: relative;
        overflow: hidden;
        font-size: 18px;
        &:before{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
          //  background-color: rgba(112, 112, 112, 0.9);
            left: 0;
            top: 0;
        }
        >*{
            position: relative;
        }
        .title{
            font-size: 2.9em;
            font-weight: bold;
        }
        .subtitle{
            font-size: 1.25em;
            font-weight: 100;
            font-family: $mousse;
        }
        .multi-line{
            height: 380px;
            position: absolute;
            right: -250px;
        }
        .arrow-down{
            position: absolute;
            left: 50%;
            bottom: 35px;
            cursor: pointer;
            width: 35px;
            @include transform(translateX(-50%));
        }
    }
    .section{
        margin: 0 auto;
        padding: 45px 0 ;
        line-height: 2;
        text-align: justify;
        width: 80%;
        @include device-sm{
            width: 90%;
            max-width: 400px;
        }
        @include device-md{
            max-width: 750px;
            font-size: 14.5px;
        }
        @include device-lg{
            max-width: 1150px;
            font-size: 18px;
        }
    }
    .section-informative{
        @extend .section;
        .title{
            font-weight: bold;
            color: $color-primary;
            text-align: center;
            font-size: 2em;
            &::after{
                content: '';
                display: block;
                height: 2px;
                width: 100px;
                margin: 15px auto;
                background-color: rgba(0,0,0,.3);
            }
        }
    }
    .section-sides{
        @extend .section;
        @include layoutFlex();
        @include alignItems(center);
        @include directionFlex(column);
        @include justifyContent(center);
        @include device-md{
            @include directionFlex(row);
        }
        .section-left{
            width: 100%;
            display: inline-block;
            @include device-md{
                width: 50%;
            }
        }
        .section-right{
            width: 100%;
            display: inline-block;
            padding-top: 20px;
            @include device-md{
                width: 50%;
                padding-top: 0px;
                padding-left: 20px;
            }
        }
        .section-left, .section-right{
            img{
                // max-width: 450px;
                // display: block;
                // margin: 0 auto;
            }
        }
    }
    .lnd-btn{
        background-color: $color-primary;
        color: #FFF;
        padding: 15px 45px;
        // @include mat-elevation-transition;
        // @include mat-elevation(2);
        @include borderRadius(30px unquote("/") 50%);
        &:hover {
        //   @include mat-elevation(8);
        }
    }
}