.overlay-container{
    position: relative;
}

.overlay{
    position: absolute;
    background-color: rgba(#000,.7);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    & ~ * {
        position: relative;
    }
}