@for $i from 1 through 10{
    .spacer{
        display: block;
        &-#{$i*5}{
            height: #{$i*5}px;
        }
    }
    .spacer-h{
        display: block;
        &-#{$i*5}{
            width: #{$i*5}px;
        }
    }
}
