<div class=" subjects landing" fxLayout="column" fxLayoutAlign="start stretch">
    <app-intro></app-intro>
    <app-ninja-formation></app-ninja-formation>
    <app-banner></app-banner>
    <app-discipline></app-discipline>
    
   
</div> 