

@import "../../../assets/styles/1-settings/index";
@import "../../../assets/styles/2-tools/index";



.developmen{
    color:   #0C0C0C;
     
 }

 
 .developmen-title{
     font-size:30px;
    line-height: 1;
    margin: 0 0 -5px;
    @include device-md{
        font-size: 40px;
        margin: 0 0 -20px;
       
    
    }
    
    
 }


 .developmen-subtitle{
     font-size:30px;
    margin: 10px 0px;

    @include device-md{
        font-size: 40px;
        margin: 0 0 -20px;
       
    
    }
    
 }
 
 .developmen-description{
     font-size: 15px;
     line-height: 1.5;
     margin: 5px 0px;

    
    
    }
 