@import "../../../assets/styles/1-settings/index";
@import "../../../assets/styles/2-tools/index";



:host{
    background-image: url(/assets/images/what-define-us/park-training.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative; 
}
.what-define-us{
    font-family: 'Museo'
}
.overlay  ~ * {
    position: relative;
}
.overlay{
    position: absolute; 
    width: 100%; 
    height: 100%; 
    top: 0; 
    left:0;
    background-color: rgba(112, 112, 112, 0.9); 
   
}


.what-define-us-title{
    font-size: 30px;
    text-align:center;
    color:  $creatividad-color;
    @include device-md{
        
        font-size: 40px;
    
    }

}
.what-define-us-text{
    font-size: 20px;
  margin: 20px 0px;
  line-height: 1.5;
  text-align: center;
  color: #10273F;
}

.what-define-item-sub{
font-size: 25px;
}


.what-define-item-sub--1{
    
    color: $mobile-color;

}
.what-define-item-sub--2{
   
    color: #D5AC6F;

}
.what-define-item-sub--3{
    
    color: $backend-color;

}

.what-define-item-sub--4{
    
    color: $creatividad-color;

}


.what-define-item-icon{
    margin: 20px;
    width: 100px;
    height: 100px;
}

.what-define-item__container{
    position: relative;
    .what-define-item{
        @include filterRaw(brightness(0) invert(1));
        &--accent{
            position: absolute;
            left: 0;
            top: 0;
            @include opacity(0);
            @include filterRaw(unset);
            @include transition2(.2s opacity ease);
        }        
    }
    &:hover{
        .what-define-item--accent{
            @include opacity(1);
        }
    }
}

.rinnengan{
    background-size: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/assets/images/us/rinnengan.svg');
}

