<div class="what-define-us section   ">
        <div class="overlay"></div>
       



    <p class="what-define-us-title"> <b> ¿QUÉ NOS DIFERENCIA? </b></p>
    <p class="what-define-us-text text-thin">

        Aca en la academia valoramos la personalidad de cada persona y la actitud que
        demuestran durante el curso. Es por ello, que demostramos un ambiente de: 

     </p>

     <ul fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="50px" class="presentation-subjects text-thin">
        <li>
          <div class="what-define-item__container hover__zoomIn">
              <div class="what-define-item" fxLayout="column" fxLayoutAlign="center center">
                <img class="what-define-item-icon" src="/assets/images/what-define-us/CMPROMISO.png" alt="">
                <p class="what-define-item-sub what-define-item-sub--1">FAMILIA</p>
                <p class="what-define-item-description"> 
                   </p>
              </div>
              <div class="what-define-item--accent" fxLayout="column" fxLayoutAlign="center center">
                <img class="what-define-item-icon" src="/assets/images/what-define-us/CMPROMISO.png" alt="">
                <p class="what-define-item-sub what-define-item-sub--1">FAMILIA</p>
                <p class="what-define-item-description"> 
                   </p>
              </div>
            
          </div>
        </li>
        <li>
          <div class="what-define-item__container hover__zoomIn">
            <div class="what-define-item" fxLayout="column" fxLayoutAlign="center center">
              <img  class="what-define-item-icon" src="/assets/images/what-define-us/DISCIPLINA.png" alt="">
              <p class="what-define-item-sub what-define-item-sub--1">RESPETO</p>
              <p class="what-define-item-description"></p>
            </div>
            <div class="what-define-item--accent" fxLayout="column" fxLayoutAlign="center center">
              <img  class="what-define-item-icon" src="/assets/images/what-define-us/DISCIPLINA.png" alt="">
              <p class="what-define-item-sub what-define-item-sub--1">RESPETO</p>
              <p class="what-define-item-description"></p>
            </div>
          </div>
        </li>
        <li>
            <div class="what-define-item__container hover__zoomIn">    

              <div class="what-define-item" fxLayout="column" fxLayoutAlign="center center">
                <img class="what-define-item-icon"  src="/assets/images/what-define-us/PASIÓN.png" alt="">
                <p class="what-define-item-sub what-define-item-sub--1">AMISTAD</p>
                <p class="what-define-item-description"> </p>
                
              </div>          
              <div class="what-define-item--accent" fxLayout="column" fxLayoutAlign="center center">
                <img class="what-define-item-icon"  src="/assets/images/what-define-us/PASIÓN.png" alt="">
                <p class="what-define-item-sub what-define-item-sub--1">AMISTAD</p>
                <p class="what-define-item-description"> </p>
                
              </div>

            </div>
        </li>

    </ul>



    <div class="flex-col-layout ai-stretch rinnengan">
      <div class="spacer-45"></div>
      <p class="what-define-us-title"> <b> MISIÓN </b></p>

      <p class="what-define-us-text text-thin">
  
          La academia Capm now tiene como misión capacitar a las personas que quieren lograr su
          certificaciòn CAPM otorgado por el PMI 
          
      </p>
      <div class="spacer-45"></div>
    </div>

    <div class="flex-col-layout ai-stretch rinnengan">
        <div class="spacer-45"></div>
        <p class="what-define-us-title"> <b> VISIÓN </b></p>
  
        <p class="what-define-us-text text-thin">
    
            La academia Capm Now tien como visión al 2020 con vertirse en un instituto de calidad
            líder en ofrecer capacitaciòn integral sobre gestiòn de proyectos en diferentes
            metodologías como la tradicional y ágil, que ademàs le permita al estudiante alcanzar
            certificaciones internacionales. 
            
        </p>
        <div class="spacer-45"></div>
      </div>

     


  </div>

