<div class="team-intro intro"fxLayout="column" fxLayoutAlign="center center">
  <!--<img  class="arrow-down animated bounce infinite" src="/assets/images/common/arrow-down.svg" alt=""
scrollTo=".mobile-now__content">-->
<div class="cuadro">
<p class="team-title"> EQUIPO</p><br/>

</div>

<div class="team" >
<p > El equipo de Tentaciones Bruild se encuentra liderado por una mujer <br>
  muy guerrera que trabaja día a día por su familia y por su empresa.<br>
  Se encuentra acompañada de un gran equipo de personas que tiene por  <br>
  objetivos aportar a la sociedad con cada acción. Esta familia-empresa se <br>
  encuentra en crecimiento, destacando por contar con conocimientos <br>
  administrativos, de ventas, marketing, diseño gráfico y programación. <br>
</p>
</div>
</div>

