@import "../../../assets/styles/2-tools/index";

#abc { 
    width: 100%; 
    height: 110px;
}



.header{
    font-family: 'Museo';
  //  font-style: 'Lato-Black.ttf';
    font-size: 22px;
    height: 50px;
    padding: 4px 7px;
    color: #FFF;
    position: fixed;
    background-color: rgb(50, 38, 18);
    z-index: 1;
    .logo, .logo-container, .links-container{
        height:100%;
        width: 100;
        
             
    }
    .links-container{
        a{
            margin: 0px 30px;
        

        }
    }
    &.header--fixed{
        background-color: rgba(0,0,0,.65);
    }
    .ao-link{
        font-style: 'Lato-Black.ttf';
        position: relative;
        left: 0;
        @include opacity(1);
        @include transition2(all 1s ease-in-out);
    }
    &--uninitialized{
        .ao-link{
            left: -500px;
            @include opacity(0);
        }
    }
    #circulo { 
        height:10px;
        width: 10px;
        background-color: rgb(194, 60, 96);
        border-radius: 50%;
        z-index:30;
    }

}

