<div id="abc" class="header mousse fill-width flex-row-layout ai-stretch" [class.header--uninitialized]="!initialized">

             <div class="logo-container" routerLink="/" [scrollTo]="0">
                  <img class="logo" src="/assets/images/tentacioneas-logo.png" alt="">
              </div>
                <span class="flex"></span>
<div class="links-container hide-xs hide-sm flex-row-layout ai-center">

    <a href="#" class="ao-link slideInLeft" routerLink="nosotros" [scrollTo]="0"
    routerLinkActive="active" [style.transitionDelay]="'1.5s'">
      Nosotros
    </a>
    <div id="circulo" class="ao-link slideInLeft" routerLink="nosotros" [scrollTo]="0"
    routerLinkActive="active" [style.transitionDelay]="'1.3s'">
    </div>
    <a href="#" class="ao-link slideInLeft" routerLink="productos" [scrollTo]="0"
    routerLinkActive="active" [style.transitionDelay]="'1s'">
      Productos
    </a>
    <div id="circulo" class="ao-link slideInLeft" routerLink="nosotros" [scrollTo]="0"
    routerLinkActive="active" [style.transitionDelay]="'0.7s'">
      </div>
    <a href="#" class="ao-link slideInLeft" routerLink="servicios" [scrollTo]="0"
    routerLinkActive="active" [style.transitionDelay]="'0.5s'">
      Servicios
    </a>
    <div id="circulo" class="ao-link slideInLeft" routerLink="nosotros" [scrollTo]="0"
    routerLinkActive="active" [style.transitionDelay]="'0.3s'">
      </div>
    <!-- <a href="#" class="ao-link" routerLink="testimonios"
    routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
      Testimonio
    </a> -->
    <a href="#" class="ao-link slideInLeft" routerLink="contacto" [scrollTo]="0"
      routerLinkActive="active" [style.transitionDelay]="'0s'">
      Contacto
    </a>

  </div>
  <div class="menu-toggle flex-row-layout jc-center ai-center hide-md hide-lg hide-xl">
    <i class="material-icons">menu</i>
  </div>


</div>



