
<div class="us landing" fxLayout="column" fxLayoutAlign="start stretch">
    <app-intro></app-intro>
    <app-testimonials-xxx></app-testimonials-xxx>
    <app-people></app-people>
   
    <app-join-up></app-join-up>
</div>
