
:host{
    background-color: #303030
    
}
   .testimonials-xxx {
    color:#FFFFFF;

   }

  .testimonials-title {
    font-size: 40px;
    text-align: center;
    
}

.testimonials-xxx-subtitle {
    font-size: 15kpx;
    margin: 15px 0px;
    line-height: 1.5;
    text-align: center;
}

.testimonials-xxx-text {
    font-size: 20px;
    line-height: 1;
    
   text-align: center;
   margin: 20px;
}
   