@import "../../../assets/styles/2-tools/mixins/index";

.join-us{
    color: #ffffff
}
@import "../../../assets/styles/2-tools/index";

.espacio{
    height: 100px;
    background: white;
}

.team-member{
    position: relative;
    text-align: center;
    height: 300px;
    font-size: 16px;
    @include flexFlex(0 0 100%);
    @include device-md{
        @include flexFlex(0 0 33.3333%);
    }
    @include device-xl{
        height: 450px;
    }
    width: 300px;
    padding-bottom: 40px;
    overflow: hidden;
    .member-photo{
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        @include transition2(.7s all ease);
        @include transformOrigin(center);
    }
    .member-info{
        position: relative;
        .member-name{
            font-size: 1.4em;
        }
    }    
    .overlay{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.55);
        &::before, &::after{
            content: '';
            width: calc(100% - 30px);
            height: 1px;
            position: absolute;
            background-color: #ffffff;
            left: 15px;
            top: 20px;
            @include transition2(.7s all ease);
            @include transform(scaleX(0));
            @include transformOrigin(left);
            @include transitionDelay(.4s);
        }
        &::after{
            top: unset;
            bottom: 20px;
            @include transformOrigin(right);
        }
    }
    .overlay, .member-info{
        opacity: 0;
        @include transition2(.4s all ease);
    }
    &:hover{        
        .overlay, .member-info{
            opacity: 1;
        }
        .member-photo{
            @include transform(scale(1.1));
        }
        .overlay{
            &::after, &::before{
                @include transform(scaleX(1));
            }
        }
    }
}