<div class="join-us" fxLayout="row wrap">

  <div fxLayout="column" fxLayoutAlign="end center" class="team-member" *ngFor="let member of teamMemberList">
    <div class="member-photo" [style.backgroundImage]="getBackground(member.imageUrl)"></div>
    <div class="overlay"></div>
      
    <div class="member-info">
        <p class="member-name"> <b> {{member.name}} </b>  </p>    
        <p class="text-thin member-position"><i> {{member.position}}</i> </p>
    </div>
    
  </div>
  

</div>
<div class="espacio"></div>