<div class="coming-soon landing">
    <div class="intro flex-row-layout ai-center jc-center">
        <img src="/assets/images/isotipo.png" alt="">
        <div class="flex-col-layout ai-flex-start jc-center">
          <p class="title">Pronto más novedades</p>
          <div class="flex-row-layout jc-center">
            <button routerLink="/contacto" [queryParams]="{contact: '1'}">
              Conversemos
            </button>
          </div>
        </div>
    </div>
  </div>