@import "../../../assets/styles/1-settings/colors.scss";
@import "../../../assets/styles/2-tools/index";

.coming-soon{
    font-size: 24px;
    img{
        width: 300px;
    }
    .intro{
        background-image: url(/assets/images/shell/coming-soon-bk.jpg)
    }
    button{
        padding: 10px 55px;
        border: 1px solid $blue;
        background: transparent;
        color: #FFF;
        @include transition2(all .2s ease);
        &:hover{
            background-color: $blue;
        }
    }
}