@mixin transition($property:all,$timer:300ms,$timing:linear) {
    -webkit-transition: $property $timer $timing;
    -moz-transition: $property $timer $timing;
    -ms-transition: $property $timer $timing;
    -o-transition: $property $timer $timing;
    transition: $property $timer $timing;
}

@mixin transition2($transition){
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

@mixin transitionDelay($delay...) {
    -moz-transition-delay:    $delay;
    -o-transition-delay:      $delay;
    -webkit-transition-delay: $delay;
    transition-delay:         $delay;
}