
@import "../../../assets/styles/1-settings/index";
@import "../../../assets/styles/2-tools/index";


.intro{
    &:before{
    }
}

.methodology-title{
    color: #F98AB2;
    font-size: 135px;
    //font-family: 'lato'; 
    font-family: 'Kafka'; 
    //font-style:'Lato-Bold.ttf';
    line-height: 0.2 ; 
    
}


.methodology-subtitle{
    font-weight: bold;
    font-size: 105px;
    color: #FFFF;    
    font-family: 'lato';
    font-style:'Lato-Black';
  //  font-family: 'Albondigas';
  height: 80px;
}

.methodology-intro{
    overflow: hidden;
    text-align: center;
    background-image: url(/assets/images/methodology/conocesproductos.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
}

.underline-container{
    position: relative;
    .underline{
        width: 100%;
        position: absolute;
        height: 2px;
        top: 0;
        left: 0;
        background-color: #FFF
    }
}



.intro-title{
    font-size: 60px;
    line-height: 1 ;
    

    @include device-md{
        font-size: 50px;
        line-height: 1.5 ; 

    }
}


.intro-subtitle{
   margin: 20px;
   font-size: 30px;
}

.multi-line{
    height: 380px;
    position: absolute;
    right: 250px;

}