<div class="methodology-intro intro" fxLayout="column" fxLayoutAlign="center center">
  <img class="arrow-down animated bounce infinite" src="/assets/images/common/arrow-down.svg" alt="" scrollTo=".description">

  <p class="methodology-title" > Conoce Nuestros </p>
  <p class="methodology-subtitle" > Productos</p>
</div>