



.circle-icon{
 width: 150px;
 height: 150px;
 border-radius: 150px;
 border:  1px solid yellow;
 
 color: #000000;

}

.circle-text{

    text-align: center;
    
    line-height: 1.5;
    
}

.circle-title{
margin-top: 10px;

}