
<div class="circle section">


<div  class="circle-text" fxLayout.md="row" fxLayout="column">



    <div  fxFlex="25%" fxLayout="column" fxLayoutAlign="start center">

        <div class="circle-icon">
        </div>
       
        <p  class="circle-title"  > Duración </p>
        <p> 50 horas </p>  
    
    </div>
    
    
    
    <div   fxFlex="25%" fxLayout="column" fxLayoutAlign="start center" >
    
        <div class="circle-icon">
        </div>
       
        <p class="circle-title"  > SESIONES </p>
        <p> Lunes y Miércoles: </p>
        <p> 07:00 pm - 10:00 pm </p>  
        
    </div>
    
    
    
    <div   fxFlex="25%"   fxLayout="column" fxLayoutAlign="start center" >
    
        <div class="circle-icon">
        </div>
       
        <p class="circle-title"> Horarios </p>
        <p> Lunes y Miércoles: </p>
        <p> 07:00 pm - 10:00 pm </p>  
        
    </div>
    
    
    
    <div     fxFlex="25%" fxLayout="column" fxLayoutAlign="start center" >
    
        <div class="circle-icon">
        </div>
       
        <p class="circle-title"  > Promoción </p>
        <p> Precio mensual </p>
        <p> S/. 375 </p>  
        <p> S/. 483.33 </p>
        
    </div>
    
    
    
    















</div>









</div>