
<div class="join-up section">

    <!--<p class="join-up-title"> 
      <b> ÚNETE AL TEAM</b>  </p>-->

    <P class="join-up-subtitle text-thin "> frase </P>
  
  
    
    <button class="landing-btn bg-creatividad" routerLink="/contacto" [scrollTo]="0"> tentaciones.bruild@gmail.com</button>
  
  
  
  
  </div>