@import "../../../assets/styles/1-settings/colors.scss";

:host{
    
.color-team{
    color:   #F98AB2;;
}
}

.join-up{
      color: #F98AB2;
    text-align: center;
    font-family: 'Museo'
}



.join-up-title{
    font-size: 50px;
    line-height: 1.5;
    color: #80192B;
}

.join-up-subtitle{
    font-size: 30px;
    margin: 10px 0px;
    line-height: 1.5;
    text-align: center;


}


.landing-btn{
    border-radius: 0px;
}