
 
@import "../../../assets/styles/1-settings/index";
@import "../../../assets/styles/2-tools/index";


.team-intro{
    text-align: center;
    background: white;
    height: 660px;
}

.cuadro{
    position: absolute;
    background: #f5c07c;
    top: 100px;
    left:0px;
    width: 100%;
    height: 100px;
}

.team-title{
    color: rgb(29, 19, 14);
    font-size:70px;
  //  font-weight: bold;
    font-family: 'Lato';
    font-style: 'Lato-Regular';
     line-height:0.3;
     margin: 40px;
     text-align: center; 
}

.team{
    color: rgb(73, 74, 76);
    font-size:37px;
    line-height:1;
     margin: 0px;
     text-align: left;
     font-family: 'Lato';
    font-style: 'Lato-Regular';
    position: absolute;
    top: 250px;

//background: red;
}