<div class="team-intro intro"fxLayout="column" fxLayoutAlign="center center">
    <!--<img  class="arrow-down animated bounce infinite" src="/assets/images/common/arrow-down.svg" alt=""
  scrollTo=".mobile-now__content">-->
<div class="cuadro">
  <p class="team-title"> NUESTRA <strong>HISTORIA</strong>    </p><br/>
  
</div>

<div class="team" >
<p > Tentaciones Bruild nace de la ilusión de una familia joven de querer <br>
    ingresar al rubro de pastelería fina, encontrando una oportunidad de <br>
    negocio que pueda transmitir a las personas los sueños que siempre  <br>
    imaginaron hacer llegar a las personas. En este sentido, Tentaciones <br>
    Bruild es más que una dulcería, busca brindar momentos de alegría a <br>
    todos sus clientes, mediante la venta de productos con toques dulces, <br>
    refrescantes y salados. <br> <br>
    Tentaciones busca ser reconocida por contar con ambientes físicos y <br>
    virtuales donde brinda una atención de primera, muy agradable y que<br>
    supera las expectativas de cada cliente.
</p>
</div>
</div>

