@import "../../../assets/styles/1-settings/index";
@import "../../../assets/styles/2-tools/index";


.foto-intro{
    text-align: center;
    background: white;
    height: 330px;

}

.cuadro{
    position: absolute;
    background: #f5c07c;
    top: 100px;
    left:0px;
    width: 100%;
    height: 120px;
}

.foto-title{
  color: rgb(29, 19, 14);
    font-size:70px;
  //  font-weight: bold;
    font-family: 'Lato';
    font-style: 'Lato-Regular';
     line-height:0.6;
     margin: 40px;
     text-align: center;
 
}

.foto-subtittle{
    color: rgb(73, 74, 76);
    font-size:37px;
    line-height:0.8;
     margin: 20px;
     text-align: center;
     font-family: 'Lato';
    font-style: 'Lato-Regular';
    position: absolute;
    top: 240px;

}



#container{

  width: 100%;
  margin: 0em;
  height: 550px;
  
  padding:0;
  background: transparent;

}

.items{
max-width:1350px;
height: 550px;
//background: red;
}

#tama{
  width: 1350px;
  height: 550px;
}
#left{
  background: transparent;
margin:0px;
opacity: 0.5;
}

#right{
  background: transparent;
margin:0px;
opacity: 0.5;
}

.espacio{
  height: 140px;
  width: 100%;
  background: #ffff;
}