<agm-map [latitude]="lat" [longitude]="lng" [mapDraggable]="false" [zoom]="17"
[maxZoom]="17" [minZoom]="17">
<agm-marker [latitude]="lat" [longitude]="lng">  </agm-marker>
<agm-marker [latitude]="lat2" [longitude]="lng1" [label]="{text: 'Parque Rosedal de La Ciudad', color: 'red', fontWeight: 'bold'}"
iconUrl="/">  
</agm-marker>
<agm-marker [latitude]="lat4" [longitude]="lng1" [label]="{text: 'Satélite Santa Rosa - Callao', color: 'red', fontWeight: 'bold'}"
iconUrl="/">  
</agm-marker>
<agm-marker [latitude]="lat3" [longitude]="lng" iconUrl = "/assets/images/serviciosadicionales/Recurso1.png"
[animation]="animation"></agm-marker>
</agm-map>