@import "../../assets/styles/1-settings/index";
@import "../../assets/styles/2-tools/index";


.certification-now-text-principal{
    display: flex;
    flex-direction: column;
    width: 80%;
    line-height: normal;
}

.text-sky-blue{
    font-family: 'Museo';
    color: #10273F;
}
.text-thin{
    font-family: 'Museo';
    color: #10273F;
}
.methodology-flow-img-now{
    padding-top: 20px;
    width: 70%;
    img{
        width: 100%;
    }
}

.certification-capmnow{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.certification-capmnow-price{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobile-now-green-text{
    text-align: left;
    color: #8e3134;
    font-family: 'Museo'
}

.mobile-now-hr{
    height: 2px;
    color: #8e3134;
    background-color: #8e3134;
    width: 100%;
    margin-bottom: 20px;
    border: none;
}

.mobile-now__description-tittle{
    font-size: 20px;
    font-weight: bold;
    font-family: museo;
}

.mobile-now__description-img{
    padding: 2px 10px 2px 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    background-color: green;
    border-radius: 50%;
}

.mobile-now__description-imgmini{
    padding: 0px 4px 0px 4px;
    margin-right: 10px;
    margin-bottom: 20px;
    background-color: green;
    border-radius: 50%;
}

.mobile-now__description-text{
    line-height: normal;
}

.methodology-flow-img-now-2{
    padding-top: 20px;
    float: right;
    width: 70%;
    img{
        width: 100%;
    }
}

.mobile-now{
    &__subject{
        &__header{
            &__title{
                color: $color-primary;
            }
        }
        &__levels{
            &__item{
                cursor: pointer;
                height: 370px;
                overflow: hidden;
                &:hover{
                    .mobile-now__subject__levels__item__bk{
                        @include transform(scale(1.1));
                    }
                }
                &__bk{
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    background-position: center;
                    background-size: cover;
                    @include transition2(all .2s ease-in-out);
                    &--1{
                        background-image: url(/assets/images/mobile-now/generic-bk-5.jpg)
                    }
                    &--2{
                        background-image: url(/assets/images/mobile-now/generic-bk-1.jpg)                        
                    }
                    &--3{
                        background-image: url(/assets/images/mobile-now/generic-bk-2.jpg)                        
                    }
                    &--4{
                        background-image: url(/assets/images/mobile-now/generic-bk-3.jpg)                        
                    }
                    &--5{
                        background-image: url(/assets/images/mobile-now/generic-bk-4.jpg)                        
                    }
                    &--6{
                        background-image: url(/assets/images/mobile-now/generic-bk-5.jpg)                        
                    }                    
                }
                &__content{
                    padding: 40px 0;
                    color: #FFF;
                    height: 100%;
                    font-size: 16px;
                    &__title{
                        padding: 10px;
                        border: 1px solid #FFF;
                        font-size: 1.3em;
                        font-weight: bold;
                    }
                    img{
                        width: 160px;
                    }
                    &__label{

                    }
                }
            }
        }
    }
    &__btn-information{
        background-color: #8e3134;
        padding: 10px 40px;
        color: #FFF;
        font-family: 'Museo'
    }
}