<div class="subjects-title" >
                <div class="espacio"></div>
                <div class="espacio"></div>
                <div class="espacio"></div>
                <div class="espacio"></div>
                <div class="espacio"></div>
                <div class="espacio"></div>
                <p class="subjects-title-1" >   Tentaciones Bruild ofrece <strong>servicios</strong> adicionales que <br> 
                        tienen como objetivo que compartas <strong>alegría</strong> con los que más <strong>quieras.</strong><br>
                    Aquí te <strong>contamos</strong> cómo puedes hacerlo:    </p>
                    <div class="espacio"></div>
                    <div class="espacio"></div>
                    <div class="espacio"></div>
                    <div class="espacio"></div>
</div>


<div class="subjects" fxLayout="nowrap">
    <button class="btn" routerLink="tortaspedido" [scrollTo]="0" 
        fxFlex="40%"  fxLayout="column" fxLayoutAlign="center center" >
        
        <div class="subject-photo" >
                <div class="border5"></div>
        </div>
        <div class="overlay">    </div>
        <P class="subjects-text">    <b>Tortas a</b><br>  </P>
        <P class="subjects-text1">    <strong>Pedido</strong>  </P>
    </button>

    <button class="btn btn-2" routerLink="diseñospersonalizados" [scrollTo]="0"
        fxFlex="40%"  fxLayout="column" fxLayoutAlign="center center" >
        <div class="subject-photo">
                <div class="border5"></div>
        </div>
        <div class="overlay">    </div>
            <P class="subjects-text">    <b> Diseños  </b><br>  </P>
            <P class="subjects-text1">    <strong>Personalizados</strong>  </P>
    </button>

    <button class="btn btn-3" routerLink="fototortas" [scrollTo]="0"
        fxFlex="40%"  fxLayout="column" fxLayoutAlign="center center" >
        <div class="subject-photo">
                <div class="border5"></div>
        </div>
        <div class="overlay">    </div>
        <P class="subjects-text">    <b>Foto   </b><br>  </P>
        <P class="subjects-text1">    <strong>Tortas</strong>  </P>
    </button>

    <div class="espacio2"></div>


</div>

<div class="espacio1"></div>

<div class="subjects" fxLayout="nowrap">

        <button class="btn btn-4" routerLink="cupcake" [scrollTo]="0" 
        fxFlex="40%"  fxLayout="column" fxLayoutAlign="center center" >
        <div class="subject-photo">
                <div class="border5"></div>
        </div>
        <div class="overlay">    </div>
        <P class="subjects-text1">    <strong>Cupcakes</strong> </P>
    </button>
    

        <button class="btn btn-5" routerLink="dulceregalo" [scrollTo]="0"
        fxFlex="40%"  fxLayout="column" fxLayoutAlign="center center" >
        <div class="subject-photo">
                <div class="border5"></div>
        </div>
        <div class="overlay">    </div>
            <P class="subjects-text">    <b> Dulce  </b><br>  </P>
            <P class="subjects-text1">    <strong>Regalo</strong> </P>
    </button>
    
    
        <button class="btn btn-6" routerLink="bocaditos" [scrollTo]="0"
        fxFlex="40%"  fxLayout="column" fxLayoutAlign="center center" >
        <div class="subject-photo">
                <div class="border5"></div>
        </div>
        <div class="overlay">    </div>
        <P class="subjects-text1">    <strong>Bocaditos</strong> </P>
    </button>

    <div class="espacio2"></div>

</div>
<div class="espacio"></div>