@import "../../../assets/styles/2-tools/index";

:host{
   
    
}

.subjects-title{
    text-align: center;
    line-height:1.3;
    //background: red;

}

.subjects-title-1{
    text-align: center;
    font-family: 'lato';
    font-style: 'Lato-Regular';
    font-size: 34px;
    color:   rgb(73, 74, 76);
    line-height:1.3;
}

.espacio{
    height: 20px;
    background: #ffff;
}
.espacio1{
    height: 10px;
    background: #ffff;
}

.espacio2{
    height: 20px;
    width: 800px;
    background: #ffff;
}

.subjects{
    // height: 500px;  
    color: red;
    //font-family: 'lato';
}

.btn{
    left: 120px;
   overflow: hidden;
     color: #FFF;
     padding: 0px 0px;
     //margin: 30px;
    margin-right: 10px;
     font-size: 2em;
     &>*:not(.subject-photo){
         opacity: 1;
         @include transition2(.4s all ease);
     }
     height: 300px;
     @include flexFlex(0 0 100%);
     @include device-md{
         @include flexFlex(0 0 33.3333%);
     }
     @include device-xl{
         height: 290px;
     }
     background-size: cover;
     background-position: center;
     position: relative;
     .subject-photo{
         background-image: url("/assets/images/serviciosadicionales/tentacioneaspostres-07.jpg");
     }
 }

 .btn:hover{
    &>*{
      //opacity: 1;
    }    
    .subject-photo{
        opacity: block;
        @include transform(scale(1.1));
    }  
    .overlay{
        &::after, &::before{
            @include transform(scaleX(1));
        }
    }
}


 .subject-photo{
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0;
   //   @include transition2(.7s all ease);
  //  @include transformOrigin(center);
}

.border5{
    border: 2.9px solid white;
    height: 276px;
    margin-right: 35px;
    width: 354px;
   position: absolute;
   top:  7px; 
   left: 7px;
   z-index: 99;
}

.overlay{
    position: absolute;
    left: 0px;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(194, 60, 96,0.7);
    &::before, &::after{
        content: '';
        width: calc(100% - 5%);
        height: 2px;
        position: absolute;
        background-color: #ffffff;
       left: 10px;
         top: 10px;
        @include transition2(.7s all ease);
       @include transform(scaleX(0));
        @include transformOrigin(left);
        @include transitionDelay(.4s);
    }
    &::after{
      top: unset;
        bottom: 10px;
        @include transformOrigin(right);
    }
    &::after{
        //top: unset;
          right: 10px;
          @include transformOrigin(bottom);
      }
}






.subjects-text{
    // border: 1px solid #ffffff;
    text-align: center;
    //padding: 20px;
    position: relative;
    font-size: 40px;
    //font-weight: bold;
    font-family: 'lato';
    font-style: 'Lato-Light';
}

.subjects-text1{
    // border: 1px solid #ffffff;
    text-align: center;
    //padding: 20px;
    position: relative;
    font-size: 45px;
    //font-weight: bold;
    font-family: 'lato';
    font-style: 'Lato-Black';
}









.btn-2{
    .subject-photo{
        background-image: url("/assets/images/serviciosadicionales/tentacioneaspostres-08.jpg");
    }
}

.btn-3{
    .subject-photo{
        background-image: url("/assets/images/serviciosadicionales/tentacioneaspostres-09.jpg");
    }
}

.btn-4{
    .subject-photo{
        background-image: url("/assets/images/serviciosadicionales/tentacioneaspostres-10.jpg");
    }
}

.btn-5{
    .subject-photo{
        background-image: url("/assets/images/serviciosadicionales/tentacioneaspostres-11.jpg");
    }
}

.btn-6{
    .subject-photo{
        background-image: url("/assets/images/serviciosadicionales/tentacioneaspostres-12.jpg");
    }
}


 
