<div class="testimonials-xxx section">

    <p class="testimonials-title">
      TESTIMONIOS-xxx 
    </p>
    
       <p class="testimonials-xxx-subtitle text-thin"> Somos "La Academia Oculta del Sotfware" una academia que une la tecnologia con
       la cultura ninja </p>
         
        <p class="testimonials-xxx-text text-thin"> Es un hecho establecido hace demasiado tiempo que un lector   se distraerá con
           un sitio mientras que mira su diseño. <br> El punto de usar Lorem Ipsum Es un hecho establecido  hace demasiado tiempo que un </p>
     
    </div>