


.join-us{
    // height: 500px;  
    color: #ffffff
}




.subjects-icon-1{
    position: relative;
    text-align: center;
    background-image: url(/assets/images/subjects-ios/apllephone.jpg);
    height: 300px;
    width: 200px;
    background-size: cover;
    background-position: center;
    
   

}

.subjects-icon-2{
    position: relative;
    text-align: center;
    background-image: url(/assets/images/subjects-ios/laptop.jpg);
    height: 300px;
    width: 200px;
    background-size: cover;
    background-position: center;
    

}

.subjects-icon-3{
    position: relative;
    text-align: center;
    background-image: url(/assets/images/subjects-ios/iphone.png);
    height: 300px;
    width: 100px;
    background-size: cover;
    background-position: center;
    
   

}


