

<div class="join-us" fxLayout="row wrap">



     <div fxLayout="column" fxLayoutAlign="center center" class="subjects-icon-1"
     fxFlex="0 0 20%">
     
     </div>
  


     <div fxLayout="column" fxLayoutAlign="center center" class="subjects-icon-2"
     fxFlex="0 0 20%">
     
     </div>
  



     <div fxLayout="column" fxLayoutAlign="center center" class="subjects-icon-3"
     fxFlex="0 0 20%">
     
     </div>
  
  




</div>