
<div class="presentation section">

<p class="presentation-title"> <b>    PRESENTACIÓN  </b>  </p>

<p class="presentation-text text-thin">

 Sin duda alguna, la inteligencia artificial es la "palanca" más poderosa de los últimos años para dar a conocer nuestros 
productos y servicios a través del internet al cliente corre cto, en el momento correcto y con el mensaje correcto. En  
este curso integral, te explicaremos las nuevas estrategias y configuraciones que puedes aplicar en plataformas  
como Facebook Ads y Página Web E-commerce para generar resultados MUY positivos. Podrás potenciar tu marca  
y aumentar tus oportunidades de ventas. Las sesiones son prácticas, enfocándose en tu negocio y así poder desarrollar 
una estrategia personalizada de tal forma que podrás ampliar tu cartera de clientes.

</p>




















</div>