
<div class="people section">
   
  <div class="person-container" fxLayout="row" fxLayoutAlign="center center"   >
       <img class="img-people" src="/assets/images/people/Girl.png" > 

    <div class="people-text-container">
        <p class="title-people-item">
                ILDA ATENCIA
        </p>

     <p class="subtitle-item">
         DESARROLO DE APLICATIVO
       </p>
       <P class="description-item"> <b>MOBILE ANDROID</b> </P>

      <p class="text-people-item"> En este curso aprenderás a desarrollar una tienda online sin tener conocimientos
       de programación. La tienda te ayudará en la administración de tus productos y la
      gestión de tus ventas, además podrás llegar a más clientes</p>
 





</div>


</div>




<div  class="person-container"    fxLayout="row" fxLayoutAlign="center center" >
    <img class="img-people" src="/assets/images/people/Girl.png" > 

 <div class="people-text-container"  >
     <p class="title-people-item">
             ILDA ATENCIA
     </p>

  <p class="subtitle-item">
      DESARROLO DE APLICATIVO
    </p>
    <P class="description-item"> <b>MOBILE ANDROID</b> </P>

   <p class="text-people-item"> En este curso aprenderás a desarrollar una tienda online sin tener conocimientos
    de programación. La tienda te ayudará en la administración de tus productos y la
   gestión de tus ventas, además podrás llegar a más clientes</p>



</div>


</div>






<div  class="person-container"   fxLayout="row" fxLayoutAlign="center center" >
    <img class="img-people" src="/assets/images/people/Girl.png" > 

 <div  class="people-text-container" >
     <p class="title-people-item">
             ILDA ATENCIA
     </p>

  <p class="subtitle-item">
      DESARROLO DE APLICATIVO
    </p>
    <P class="description-item"> <b>MOBILE ANDROID</b> </P>

   <p class="text-people-item"> En este curso aprenderás a desarrollar una tienda online sin tener conocimientos
    de programación. La tienda te ayudará en la administración de tus productos y la
   gestión de tus ventas, además podrás llegar a más clientes</p>


</div>


</div>









</div>