


@import "../../../assets/styles/1-settings/index";
@import "../../../assets/styles/2-tools/index";




.people{

    text-align: left;
    width: 100%;
    max-width: 100%;
    padding: 0px;
    // margin: 20px ;
}


.people-text-container{

    padding-right: 15px;
}





.person-container{

margin-bottom: 20px;


@include device-md{
    margin-bottom: 0;
   
}

}











.title-people-item{
    font-size:15px;
    text-align: 1;
    @include device-md{
        font-size: 20px;
       
    }

}


.subtitle-item{
    font-size: 20px;
  line-height: 1;




}

.description-item{
    font-size:25px;
}

.text-people-item{
    font-size:10px;
}

.img-people{

    width:250px;

}





.title-people-item{
    font-size:25px;



}

.subtitle-item{
    font-size: 20px;
  line-height: 1;




}

.description-item{
    font-size:25px;
}

.text-people-item{
    font-size:10px;
}

.img-people{

    width:100px;

    


}








.title-people-item{
    font-size:20px;
}

.subtitle-item{
    font-size: 20px;
  line-height: 1;




}

.description-item{
    font-size:25px;
}

.text-people-item{
    font-size:10px;
}

.img-people{

    width:250px;

}





.title-people-item{
    font-size:10px;
    
    @include device-md{
        font-size:20px;
    }

}

.subtitle-item{
    font-size: 20px;
  line-height: 1;

  @include device-md{
    font-size: 30px;
}

}

.description-item{
    font-size:25px;
}

.text-people-item{
    font-size:10px;
    
    @include device-md{
        font-size: 15px;
    }



}

.img-people{
 
    width:150px;


    @include device-md{
        width:250px;
    }




}






