
 

@import "../../../assets/styles/1-settings/index";
@import "../../../assets/styles/2-tools/index";



.testimonials-intro{
    text-align: center;

    
    .testimonials-intro-title{
        font-size:30px;
     line-height:1;


     @include device-md{
        font-size: 60px;
       
    }



     }
     .testimonials-intro-subtitle{
        margin: 10px;

        @include device-md{
            font-size: 20px;
           
        }
    
    }
}