

<div class="testimonials-intro intro " fxLayout="column" fxLayoutAlign="center center">

    <p class="testimonials-intro-title"> TESTIMONIOS DE ALUMNOS </p>
   <p class="testimonials-intro-subtitle text-thin"> Cultura de la Aldea Oculta del Software </p>
  
  </div>