<div class="not-found landing">
  <div class="intro flex-row-layout ai-center jc-center">
      <img src="/assets/images/isotipo.png" alt="">
      <div class="flex-col-layout ai-flex-start jc-center">
        <p class="title">404</p>
        <p class="subtitle">Página no encontrada</p>
      </div>
  </div>
</div>