
<div class="notes section">



    <div>
  
      <p class="benefits-icon">
      <b>  BENEFICIOS </b>
      <img class="imagen-icon" src="/assets/images/flow/idea.png" alt="">
      </p>
  
  
    
  
  <ul class="benefits-list text-thin ">
  
  <li> <p>  Revisar el PPT correspondiente a la sesión.  </p>  </li>
  <li> <p> Certificado de Estudio y Consultoría Gratuita sobre tu emprendimiento. </p>  </li>
  </ul> 
  
  </div>
  
  
  
  
  
  

  
  </div>
  
  
                     