<div class="us landing" fxLayout="column" fxLayoutAlign="start stretch">
    <app-intro></app-intro>
    <!-- <app-testimonials></app-testimonials> -->
    <app-map></app-map>
    <!-- <app-join-us-as></app-join-us-as> -->
    <app-working-together></app-working-together>
</div>
