@include font-face($open-sans,"/assets/fonts/open-sans/OpenSans-Light", 100, normal, ttf);
@include font-face($open-sans,"/assets/fonts/open-sans/OpenSans-Regular", 400, normal, ttf);
@include font-face($open-sans,"/assets/fonts/open-sans/OpenSans-SemiBold", 600, normal, ttf);
@include font-face($montserrat,"/assets/fonts/montserrat/Montserrat-Medium", 400, normal, ttf);
@include font-face($montserrat,"/assets/fonts/montserrat/Montserrat-Bold", 600, normal, ttf);
@include font-face($mousse,"/assets/fonts/mousse/Mousse-Regular", 400, normal, otf);
@include font-face($museo,"/assets/fonts/museo/Museo-Regular", 400, normal, otf);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    // -webkit-perspective: 1000;
    // @extend .scrollbar;
}

html, body {
    height: 100%;
    font-size: 14px;
    color: $global-color;
}

body, caption, th, td, textarea, select, option, legend, fieldset {
    font-size-adjust: 0.5;
    &:focus{
        outline: none;
    }
}

body {
    font-family: $font-primary;
    line-height: 1.5;    
}

*{
    @extend .scrollbar;
}

.mousse{
    font-family: $mousse;
}

.open-sans{
    font-family: $open-sans;
}