
<div class="notes section">



  <div>

    <p class="notes-icon">
    <b> NOTA  </b>
    <img class="imagen-icon" src="/assets/images/flow/idea.png" alt="">
    </p>


  

<ul class="notes-list text-thin ">

    <p>
        Días feriados o festivos se suspenden las clases.
        Vacantes limitadas: 8 alumnos mínimos - 15 alumnos por aula aporx.
        Cada alumno debe llevar su laptop.
        Para que su matrícula sea efectiva Ud. debe abonar el primer pago, llenar la ficha de datos y recoger la boleta o factura.
        Si Ud. se retira antes del inicio de clases hay una retención de S/50 soles y si se retira luego de la fecha de inicio no hay devolución.
        Para recibir el certificado de participación debe cumplirse con2 requisitos:
      </p>
      

<li> <p> a). No exceder el límite de inasistencias permitido (3)   </p>  </li>
<li> <p>b). No tener deuda. Cualquier deuda pendiente se cancela al valor de la cuota vigente en el momento de efectuar el pago. </p>  </li>
</ul> 

</div>
















</div>


                   