
.notes{
    color: #000000;
}


.notes-icon{
    position: relative;
  padding-left: 40px;
  color: #000000;
  font-size: 20px;
margin-bottom: 20px;
  
}

.imagen-icon{
    position: absolute;
    width: 30px;
    top: 0;
    left: 0px;
}

.notes-list{
line-height: 1.3;
font-size: 20px ;


}