@import "../../../assets/styles/1-settings/index";
@import "../../../assets/styles/2-tools/index";

.join-us-as{
    color: #10273F;
    font-family: 'Museo';
    padding-top: 30px;
    padding-bottom: 30px;
    &__like{
        font-size: 24px;
        text-align: center;
        &:nth-child(2){
            border-left: 1px solid black;
            border-right: 1px solid black;
        }
    }
}