<div class="join-us-as section">
    <div class="flex-row-layout ai-center">
        <div class="join-us-as__like flex">
            <div class="hover__zoomIn">
                <h5>QUIERO</h5>
                <p>POSTRES</p>
            </div>
        </div>
        <div class="join-us-as__like flex">
            <div class="hover__zoomIn">
                <h5>ELIJO</h5>
                
            </div>
        </div>
        <div class="join-us-as__like flex">
            <div class="hover__zoomIn">
                <h5>TENTACIONES</h5>
                <p>BRUILD</p>
            </div>
        </div>
    </div>
</div>