 
 

@import "../../../assets/styles/1-settings/index";
@import "../../../assets/styles/2-tools/index";


 
 :host{
     background-color: #000000
 }

.discipline{

text-align: center;

}

.discipline-title{
    font-size: 30px;
    color: #dddddd ; 
    line-height: 1;
    margin: 20px;

    @include device-md{
        font-size: 50px;
       
    }

}

.discipline-subtitle{
    font-size: 30px;
    color: #79267d;
    line-height: 1;
    margin: 20px;

    @include device-md{
        font-size: 50px;
       

    }



}

.discipline-iten-ico{
    width: 30px;
    margin-right: 10px;
line-height: 1;

    

}

