
<div class="discipline section">

  <p class="discipline-title text-thin " fxLayout="column" fxLayoutAlign="center center"  > TU PUEDES HACERLO CON </p>
  <P class="discipline-subtitle "> DISCIPLINA Y FORTALEZA </P>
 

        <ul fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="12px" class="presentation-subjects text-thin">
          <li fxLayout="row" fxLayoutAlign="center center"> <img src="/assets/images/android-logo.png" alt=""> <span>ANDROID</span>  </li>
          <li fxLayout="row" fxLayoutAlign="center center"> <img src="/assets/images/icon.png" alt=""> <span>iOS</span> </li>
          <li fxLayout="row" fxLayoutAlign="center center"> <img src="/assets/images/server.png" alt=""> <span>LÓGICA DE PROGRAMACIÓN</span> </li> 
          <li fxLayout="row" fxLayoutAlign="center center"> <img src="/assets/images/lamp.png" alt=""> <span>DISEÑO UX/UI</span> </li>
        </ul>

 
 </div>