.bg-blue{
    background-color: $blue;
}
.bg-sky-blue{
    background-color: $sky-blue;
}
.bg-creatividad{
    background-color: $creatividad-color;
}
.bg-backend{
    background-color: $backend-color;
}
.bg-mobile{
    background-color: $mobile-color;
}