<div class="methodology landing" fxLayout="column" fxLayoutAlign="start stretch">
  <app-intro></app-intro>
  <app-description></app-description>
  <!--<app-flow></app-flow>
  <app-benefits></app-benefits>
  <app-shinobi-kunoichi></app-shinobi-kunoichi>-->

</div>
