<div class="us landing" fxLayout="column" fxLayoutAlign="start stretch">
    <app-intro></app-intro>
    <!--<app-village></app-village>
    <app-what-define-us></app-what-define-us>-->
    <app-team></app-team>
    <app-equipo></app-equipo>
  <app-join-us></app-join-us>
    <!--<app-join-up></app-join-up>-->

    
</div>
