<div class="tortas-intro intro"fxLayout="column" fxLayoutAlign="center center">
    <!--<img  class="arrow-down animated bounce infinite" src="/assets/images/common/arrow-down.svg" alt=""
  scrollTo=".mobile-now__content">-->
<div class="cuadro">
  <p class="tortas-title"> TORTAS <strong>A PEDIDO</strong>    </p><br/>
  
</div>

<div class="tortas-subtittle"> Llévate una torta entera y <strong>comparte</strong> alegría con los <strong>demás.</strong> 
</div>
</div>


<div id="container">
    <div ng2-carouselamos class="slides-wrapper"
               [items]="items"
               [width]="1350"
               [$prev]="prev"
               [$next]="next"
               [$item]="item">
            </div>
            <ng-template #prev>
                <img src="/assets/images/servicios/left.png"  id="left">
              </ng-template>

              <ng-template #next>
                <img src="/assets/images/servicios/rigth.png"  id="right">
              </ng-template>

              <ng-template #item let-item let-i="index" >
                <div class="items">
                <img id="tama" src="{{ item.name }}">
                </div>
              </ng-template>
              
</div>

<div class="espacio">
  <app-flotante></app-flotante>
</div>
