<div class="join-us  intro " fxLayout="column" fxLayoutAlign="center center">
  <img  class="arrow-down animated bounce infinite" src="/assets/images/common/arrow-down.svg" alt=""
  scrollTo="agm-map">
  <p class="join-us-subtitle">Siempre Atentos  </p>
  <p class="join-us-title">  Contáctanos </p>
</div>