
@import "../../../assets/styles/1-settings/index";
@import "../../../assets/styles/2-tools/index";

.join-us{
    text-align: center;
    font-family: 'lato';
    background-image: url(/assets/images/join-us/contactanos.png);
    background-attachment: fixed;
    .join-us-title{
    font-size: 105px;
    color: rgb(255, 255, 255);
  //  color: #F98AB2;
    font-weight: bold;
    //font-family: 'Albondigas';
 //   font-family: 'Kafka';
   font-style: 'Lato-Black.ttf';

    
    
    }

     .join-us-subtitle{
        font-size: 130px;
        color: #F98AB2;
        font-weight: bold;
        font-family: 'Kafka';
        height: 110px; 
        line-height: -0.9px; 
    
    }


    .join-us-text{
        font-size: 10px;
        @include device-md{
            font-size: 20px;
              }
      

    }

}

