

@import "../../../assets/styles/1-settings/index";
@import "../../../assets/styles/2-tools/index";



.online-registration{
background-color: #1C91D5  ;
height: 150px;
}

.online-title{
  font-size: 20px;
  color: #ffffff;


  @include device-md{

    font-size: 30px;
   
   

}


}