<div class="subjects-intro intro" fxLayout="column" fxLayoutAlign="center center">
  <img  class="multi-line"src="/assets/images/us/multi-lines.png" alt="">
  <h1 class="subjects-intro-title"> FORMACIÓN <span class="text-thin">DEL NINJA</span> </h1>
  <div class="spacer-15"></div>
  <p class="subjects-intro-subtitle text-thin"> 
     En Formación del Ninja contamos con 3 PROGRAMAS DE CURSOS:
  </p>
</div>