@import "../../../assets/styles/1-settings/index";
@import "../../../assets/styles/2-tools/index";


.subjects-intro{
    font-size: 23px;
    background-image: url(/assets/images/subjects/intro-bk.png);
}