@import "../../../assets/styles/1-settings/index";
@import "../../../assets/styles/2-tools/index";


#title{
    height: 140px; 
    font-size: 140px;

}

.us-intro{
    font-family:'kafka';
    text-align: center;
    overflow: hidden;
    font-size:150px;
    .us-intro-title {
      
      //line-height:1.5;
      
        color: #F98AB2;
        margin: -1.2% 0;
    
        @include device-md{
            font-size:45px;

        }
     }
     .us-intro-subtitle{
        //margin: 20px;
        font-size: 110px;
        color: rgb(255, 255, 255);
         font-weight: bold;
         font-family: 'lato';
        font-style: 'Lato-Black.ttf';
       //  margin: -1.5% 0;

    }
 .multi-line{
     height: 380px;
     position: absolute;
     right: -250px;

 }
   


    .us-text{
        font-size: 20px;
        margin-top: 10px;
        width: 70%;
        color: #10273F;
    }

    &.intro{
        background-image: url(/assets/images/nosotros.png);
        background-attachment: fixed;
    }


}
