  <div class="us-intro intro" fxLayout="column" fxLayoutAlign="center center">
    <img  class="arrow-down animated bounce infinite" src="/assets/images/common/arrow-down.svg" alt=""
    scrollTo=".village">
    <p id="title" class="us-intro-title title" >Conoce De <br></p> 
    <p class="us-intro-subtitle" >Nosotros <br></p> 

    <!-- <p class="us-text">   Hola, somos un negocio 100% peruano super emprendedor que comercializa postres,
        pasteles, bocaditos y dulce-regalos que te dan un momento de alegría al probarlos. 
        Los puedes conseguir en nuestros módulos físicos o por nuestro facebook @tentacionesbruild o 
        vía wsp 931098898</p>
      <div class="spacer-25"></div>-->
   <!--<p class="subtitle"> ¡No te rindas!  </p>-->
  </div>
