@import "../../../assets/styles/1-settings/index";
@import "../../../assets/styles/2-tools/index";

:host{
    
    background-position: center;
    background-size: cover;
    position: relative;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(/assets/images/join-us/formulario.png);
  //  background-color: rgba(112, 112, 112, 0.9);
}

.working-together{
    font-family: 'lato';
    font-style:'Lato-Bold.ttf';
    color: #FFF;
    &__title{
        font-size: 47px;
        color: #ffff;
    }
    input, select, textarea{
        font-family: 'lato';
        font-style: 'Lato-Bold.ttf';
        color: #ffff;
        border: 2px solid #ffff;
        background-color: transparent;
        padding: 20px;
        margin-bottom: 15px;
        @include placeholder{
            color: #FFF;
        }
    }
    input, select{
        height: 48px;
        margin-right: 15px;
        width: 100%;
        position: relative;
        
    }
    textarea{
        resize: none;
        margin-right: 15px;
        height: 150px;
    }

    //select {
        //option, optgroup{
        // color: #000;
      //  }
  //  }
    &__send{
        font-family: 'lato';
        font-style: 'Lato-Bold.ttf';
        font-size: 36px;
        background-color: #FFFF;
        color: rgb(29, 19, 13);
        padding: 15px 50px;
        }
    &__send:active{
        border: 2px solid  rgb(237, 208, 155);;
    }
    &__send:hover{
        box-shadow: inset 0 0 0 3px rgb(237, 208, 155);;
    }
    input::-webkit-input-placeholder {
        font-size: 26px;
        font-family: 'lato';
        font-style:'Lato-Bold';
      }

      textarea::-webkit-input-placeholder {
          font-size: 25px;
          font-family: 'lato';
          font-style:'Lato-Bold';
        }
}