<div class="overlay"></div>
<form class="working-together section" [formGroup]="contactFG" (submit)="onSend()">
  <h3 class="working-together__title">Envíanos un  mensaje</h3>
  
  <div class="spacer-40"></div>
  <div class="flex-col-layout ai-stretch">
    <div class="flex-row-layout flex ai-stretch">
      <input  type="text" placeholder="Nombres y Apellidos*" formControlName="nombre">
      <input   type="text" placeholder="Correo*" formControlName="correo">
      <!-- <input type="text" placeholder="¿Cómo nos conociste?" formControlName="comoNosConociste"> -->
    </div>
    <div class="spacer-h-20"></div>
    <div class="flex-row-layout flex ai-stretch">
      <!-- <select formControlName="queNecesitas">
        <option value="null" disabled selected>¿Qué necesitas?</option>
        <optgroup label="Mobile Now" class="text-mobile">
          <option class="text-black" value="Android">Android</option>
          <option class="text-black" value="iOS">iOS</option>
        </optgroup>
        <optgroup label="Creatividad Now" class="text-creatividad">
          <option class="text-black" value="Photoshop Jutsu">Photoshop Jutsu</option>
          <option class="text-black" value="Illustrator Jutsu">Illustrator Jutsu</option>
          <option class="text-black" value="Experiencia UX/UI Jutsu">Experiencia UX/UI Jutsu</option>
        </optgroup>
        <optgroup label="Backend Now" class="text-backend">
        </optgroup>
      </select> -->
      <textarea  class="flex" placeholder="Mensaje*" formControlName="dejanosTuComentario"></textarea>
    </div>
  </div>
  <div *ngIf="error">
    <div class="spacer-25"></div>
    <div class="text-center text-warn"><b>Hay campos requeridos sin completar</b></div>
  </div>
  <div *ngIf="success">
    <div class="spacer-25"></div>
    <div class="text-center text-backend"><b>Correo enviado con éxito</b></div>
  </div>
  <div *ngIf="fail">
    <div class="spacer-25"></div>
    <div class="text-center text-warn"><b>Ha fallado el envío de correo</b></div>
  </div>
  <div class="spacer-35"></div>
  <div class="flex-row-layout jc-center">
    <button class="working-together__send" [disabled]="sending">
      <b>ENVIAR</b>
    </button>
  </div>
</form>