
<div class="join-up section">

  <p class="join-up-title">  <b> ÚNETE AL </b>     <span class="color-team"> TEAM </span> </p>
  <P class="join-up-subtitle text-thin "> ESTAMOS EN BUSCA DE TALENTOS </P>


  <P class="text-thin">Logra el máximo conocimiento en desarrollar aplicaciones </P>
  <p class="presentation-margin"><b> ¡Vive la cultura y formacion ninja sofware!</b></p>
  <button class="landing-btn">tentaciones.bruild@gmail.com</button>




</div>