
:host{
    background-color:  #303030;
    .color-team{
        color: #2390D7;
    }
}

.join-up{
    color:#FFFFFF;
    text-align: center;
}

.join-up-title{
    font-size: 40px;

}

.join-up-subtitle{
    font-size: 15kpx;
    margin: 15px 0px;
    line-height: 1.5;
    text-align: center;
}
.presentation-margin{ 
    margin-bottom: 10px

}

.landing-btn{
    border-radius: 0px;
}