<div class="description section" id="methodologyDescription">


  <p class="description-subtitle text-thin">Contamos una gran variedad de productos de suma calidad
    <br>y muy agradables, estos los ofrecemos mediante la venta directa. <br>
    Aquí te mostramos fotografías de los productos que podrás encontrar <br>
    y que estamos seguros que te darán alegría.</p>

  <div class="rectangulo">
    <p class="description-title"> <b> Pasteles enteros </b> </p>
  </div>


  <div class="cuadro4">

    <div  class="cuadrito4">
        <div class="border"></div>
      <div id="imagen1" class="imagen"></div>
        <p  class="textito">Torta de <br><strong>Lúcuma</strong> </p>
    </div>
    

    <div class="cuadrito4">
        <div class="border"></div>
        <div id="imagen2" class="imagen"></div>
        <p class="textito text1">Torta de <br> <strong>Chocolate</strong></p>
    </div>

    <div class="cuadrito4">
        <div class="border"></div>
        <div id="imagen3" class="imagen"></div>
        <p class="textito text2">Torta  <br><strong>Helada</strong></p>
    </div>

    <div  class="cuadrito4">
        <div class="border"></div>
        <div id="imagen4" class="imagen"></div>
        <p class="textito">Torta de <br> <strong>3 Leches</strong></p>
    </div>

  </div>



  <div class="rectangulo1">
    <p class="description-title1"> <b>Porción de pasteles </b></p>
  </div>



  <div class="cuadro4">

      <div class="cuadrito4">
          <div class="border"></div>
          <div id="imagen5" class="imagen"></div>
          <p class="textito text3">Pie de  <br> <strong>Manzana</strong></p>
      </div>

      <div class="cuadrito4">
          <div class="border"></div>
          <div id="imagen6" class="imagen"></div>
          <p class="textito text14">Crema  <br> <strong>Volteada</strong></p>
      </div>

      <div class="cuadrito4">
          <div class="border"></div>
          <div id="imagen7" class="imagen"></div>
          <p class="textito text2">Torta  <br><strong>Helada</strong></p>
      </div>

      <div class="cuadrito4">
          <div class="border"></div>
          <div id="imagen8" class="imagen"></div>
          <p class="textito">Muss de  <br><strong>Lúcuma</strong> </p>
      </div>

  </div>



  <div class="rectangulo">
    <p class="description-title"> <b> Copas </b> </p>
  </div>
  <div class="cuadro4">
      <div class="cuadrito4">
          <div class="border"></div>
          <div id="imagen9" class="imagen"></div>
          <p class="textito text4">Cheesecake <br> <strong>Maracuyá</strong></p>
      </div>

      <div class="cuadrito4">
          <div class="border"></div>
          <div id="imagen10" class="imagen"></div>
          <p class="textito text4">Cheesecake <br><strong>De fresa</strong></p>
      </div>

      <div class="cuadrito4">
          <div class="border"></div>
          <div id="imagen11" class="imagen"></div>
          <p class="textito text5">Delicia de <br><strong> Oreo</strong></p>
      </div>

      <div class="cuadrito4">
          <div class="border"></div>
          <div id="imagen12" class="imagen"></div>
          <p class="textito text5">Delicia de  <br><strong>Limón</strong> </p>
      </div>
  </div>



  <div class="rectangulo1">
    <p class="description-title1"> <b>Empanadas </b></p>
  </div>
  <div class="cuadro4">
    
      <div class="cuadrito2">
          <div class="border2"></div>
          <div id="imagen13" class="imagen"></div>
          <p class="textito text10"> Empanada   <br><strong>de Pollo</strong> </p>
      </div>

      <div class="cuadrito2">
          <div class="border2"></div>
          <div id="imagen14" class="imagen"></div>
          <p class="textito text10">Empanada   <br> <strong> de Carne</strong> </p>
      </div>

  </div>




  <div class="rectangulo">
    <p class="description-title"> <b> Bebidas Calientes </b> </p>
  </div>
  <div class="cuadro4">
      <div class="cuadrito4">
          <div class="border"></div>
          <div id="imagen15" class="imagen"></div>
          <p class="textito text6">Café  <br> <strong>Americano</strong></p>
      </div>

      <div class="cuadrito4">
          <div class="border"></div>
          <div id="imagen16" class="imagen"></div>
          <p class="textito text7">Infusión <br><strong>De Té</strong></p>
      </div>

      <div class="cuadrito4">
          <div class="border"></div>
          <div id="imagen17" class="imagen"></div>
          <p class="textito text8">Infusión de   <br> <strong>Manzanilla</strong></p>
      </div>

      <div class="cuadrito4">
          <div class="border"></div>
          <div id="imagen18" class="imagen"></div>
          <p class="textito text9">Chocolatada  <br> <strong>Caliente</strong></p>
      </div>

  </div>



  <div class="rectangulo1">
    <p class="description-title1"> <b>Bebidas frescas </b></p>
  </div>
  <div class="cuadro4">

      <div class="cuadrito3">
          <div class="border3"></div>
          <div id="imagen19" class="imagen"></div>
          <p class="textito text11">Chicha  <br> <strong>Morada</strong></p>
      </div>

      <div class="cuadrito3">
          <div class="border3"></div>
          <div id="imagen20" class="imagen"></div>
          <p class="textito text12">Refresco de  <br> <strong>Maracuyá</strong></p>
      </div>

      <div class="cuadrito3">
          <div class="border3"></div>
          <div id="imagen21" class="imagen"></div>
          <p class="textito text13"><strong>Limonada</strong>  </p>
      </div>



  </div>


</div>








