

@import "../../../assets/styles/1-settings/index";
@import "../../../assets/styles/2-tools/index";



:host{
    background-color: #FFFFFF ;  
}
.description{
    font-family: 'lato';
    
}

.rectangulo{
    background-color: rgb(194, 60, 96) ;  
    margin-right: 470px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
     line-height: 1.6;
    // text-align: center;
     padding-left: 10%;
   position: relative;
bottom:-80px;
right:110px;    
//overflow: hidden; 
}

.rectangulo1{
    background-color: rgb(194, 60, 96) ;  
    margin-left: 470px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
     line-height: 1.6;
    // text-align: center;
     padding-left: 10%;
   position: relative;
    bottom:-80px;
    left:110px;     
}

.cuadro4{
    margin-top: 110px;
    width: auto;
    background-color: #ffff;
    line-height: 1;
    
}


.cuadrito4{
    height: 290px;
   margin-right: 5px;
    width: 279.8px;
 //  background-color: rgb(29, 19, 14);
    padding: 20px;
    display: inline-block;
    position: relative;
    
    
}

.cuadrito2{
    height: 350px;
    margin-right: 15px;
    width: 556.2px;
 //  background-color: rgb(29, 19, 14);
   padding: 20px;
    display: inline-block;
    position: relative;
  
}

.textito{

  display:none;
}

.cuadrito4:hover{
    //opacity: 0.6;
    //filter:brightness(0.8);
    position: relative;
    //filter:brightness(0.8);

  .imagen{
    filter:brightness(0.6);
 
  }

  .border{
z-index:9;
border: 5px solid white;
transition-delay: 250ms
  
}


.textito{
        -webkit-text-fill-color: white;
        -webkit-text-stroke: 1px white;
        text-shadow: -2px -2px 1px rgba(0, 0, 0,0.1), 2px 2px 1px rgba(0, 0, 0,0.1), -2px 2px 1px rgba(0, 0, 0,0.1), 
        2px -2px 1px rgba(0, 0, 0,0.1);
      
    display:block;
    position: absolute;    //comentar
    top: 116px;
    text-align: center;
    left: 62px;
    font-family: 'lato';
    font-style: 'Lato-Black';
    font-size: 50px;
    color:#ffff;
    //font-weight: bold;
  //  font-style: bolder;
    
}
.text1{
    font-size: 46px;
    text-align: center;
    left: 52px;
}
.text2{
    font-size: 52px;
    text-align: center;
    left: 78px;
}
.text3{
    font-size: 49px;
    left: 55.5px;
}
.text14{
    font-size: 50px;
    left: 62px;
}
.text4{
    font-size: 40.2px;
    text-align: center;
    top: 127px;
    left: 54px;
  
}

.text5{
    font-size: 38px;
    top: 129px;
    left: 78px;
}
.text6{
    font-size: 41px;
    top: 128px;
    left: 62px;
}
.text7{
    font-size: 38px;
    text-align: center;
    top: 130px;
    left: 92px;
  
}
.text8{
    font-size: 40px;
    top: 130px;
    left: 62px;
}
.text9{
    font-size: 38px;
    top: 130px;
    left: 50px;
}

}


.border{
    border: 2.9px solid white;
    height: 268px;
  margin-right: 35px;
    width: 258px;
   position: absolute;
   top:  30px; 
   left: 28px;
   //background-color: rgb(29, 19, 14);
   //color: black;
  
  
}

.border2{
    border: 2.9px solid white;
    height: 320px;
    margin-right: 35px;
    width: 545px;
   position: absolute;
   top:  30px; 
   left: 28px;
}



.cuadrito2:hover{
    //opacity: 0.6;
    //filter:brightness(0.8);
    position: relative;
    //filter:brightness(0.8);

  .imagen{
    filter:brightness(0.6);
 
  }

.border2{
    z-index:99;
    border: 5px solid white;
    transition-delay: 250ms
      
    }
.textito{
        -webkit-text-fill-color: white;
        -webkit-text-stroke: 1px white;
        text-shadow: -2px -2px 1px rgba(0, 0, 0,0.1), 2px 2px 1px rgba(0, 0, 0,0.1), -2px 2px 1px rgba(0, 0, 0,0.1), 
        2px -2px 1px rgba(0, 0, 0,0.1);
      
    display:block;
    position: absolute;    //comentar
    top: 128px;
    text-align: center;
    left: 140px;
    font-family: 'lato';
    font-style: 'Lato-Black';
    font-size: 52px;
    color:#ffff;
    
    
}
.text10{
    font-size: 68px;
    text-align: center;
}
}


.cuadrito3{
    height: 380px;
    margin-right: 15px;
    width: 366px;
 //background-color: rgb(29, 19, 14);
   padding: 20px;
    display: inline-block;
    position: relative;
  
}

.border3{
    border: 2.9px solid white;
    height: 324px;
    margin-right: 35px;
    width: 352px;
   position: absolute;
   top:  30px; 
   left: 30px;
}

.cuadrito3:hover{
    //opacity: 0.6;
    //filter:brightness(0.8);
    position: relative;
    //filter:brightness(0.8);

  .imagen{
    filter:brightness(0.6);
 
  }

.border3{
    z-index:99;
    border: 5px solid white;
    transition-delay: 250ms
      
    }
.textito{
        -webkit-text-fill-color: white;
        -webkit-text-stroke: 1px white;
        text-shadow: -2px -2px 1px rgba(0, 0, 0,0.1), 2px 2px 1px rgba(0, 0, 0,0.1), -2px 2px 1px rgba(0, 0, 0,0.1), 
        2px -2px 1px rgba(0, 0, 0,0.1);
      
    display:block;
    position: absolute;    //comentar
    top: 134px;
    text-align: center;
    left: 108px;
    font-family: 'lato';
    font-style: 'Lato-Black';
    font-size: 50px;
    color:#ffff;
    
    
}
.text11{
    font-size: 58px;
    text-align: center;
}
.text12{
    font-size: 50px;
    top: 130px;
    left: 80px;
}
.text13{
    font-size: 60px;
    text-align: center;
    top: 148px;
    left: 84px;
}
}


#imagen1{
    background-image: url('/assets/images/productos/tentacionesnormal-01.jpg');
    width: 42.2vh;
    height: 44.1vh;
    background-size: cover;
  //  filter:brightness(0.8);
    //transition: opacity .25s ease-in-out;
 
 //transform: scale(1.1);
  //  left: 0;
  //  top: 0;
  //  @include transition2(.7s all ease);
  //  @include transformOrigin(center);
}
#imagen2{
    background-image: url('/assets/images/productos/tentacionesnormal-02.jpg');
    width: 42.2vh;
    height: 44.1vh;
    background-size: cover;
}
#imagen3{
    background-image: url('/assets/images/productos/tentacionesnormal-03.jpg');
    width: 42.2vh;
    height: 44.1vh;
    background-size: cover;
}
#imagen4{
    background-image: url('/assets/images/productos/tentacionesnormal-04.jpg');
    width: 42.2vh;
    height: 44.1vh;
    background-size: cover;
    
}
#imagen5{
    background-image: url('/assets/images/productos/tentacionesnormal-05.jpg');
    width: 42.2vh;
    height: 44.1vh;
    background-size: cover;
}#imagen6{
    background-image: url('/assets/images/productos/tentacionesnormal-06.jpg');
    width: 42.2vh;
    height: 44.1vh;
    background-size: cover;
}
#imagen7{
    background-image: url('/assets/images/productos/tentacionesnormal-07.jpg');
    width: 42.2vh;
    height: 44.1vh;
    background-size: cover;
}
#imagen8{
    background-image: url('/assets/images/productos/tentacionesnormal-08.jpg');
    width: 42.2vh;
    height: 44.1vh;
    background-size: cover;
}
#imagen9{
    background-image: url('/assets/images/productos/tentacionesnormal-09.jpg');
    width: 42.2vh;
    height: 44.1vh;
    background-size: cover;
}
#imagen10{
    background-image: url('/assets/images/productos/tentacionesnormal-10.jpg');
    width: 42.2vh;
    height: 44.1vh;
    background-size: cover;
}
#imagen11{
    background-image: url('/assets/images/productos/tentacionesnormal-12.jpg');
    width: 42.2vh;
    height: 44.1vh;
    background-size: cover;
}
#imagen12{
    background-image: url('/assets/images/productos/mini-pie-de-limon.jpg');
    width: 42.2vh;
    height: 44.1vh;
    background-size: cover;
}
#imagen13{
    background-image: url('/assets/images/productos/tentacionesnormal-13.jpg');
    width: 86.2vh;
    height: 52.1vh;
    background-size: cover;
}
#imagen14{
    background-image: url('/assets/images/productos/tentacionesnormal-14.jpg');
    width: 86.2vh;
    height: 52.1vh;
    background-size: cover;
}


#imagen15{
    background-image: url('/assets/images/productos/tentacionesnormal-15.jpg');
    width: 42.2vh;
    height: 44.1vh;
    background-size: cover;
}
#imagen16{
    background-image: url('/assets/images/productos/tentacionesnormal-16.jpg');
    width: 42.2vh;
    height: 44.1vh;
    background-size: cover;
}
#imagen17{
    background-image: url('/assets/images/productos/tentacionesnormal-17.jpg');
    width: 42.2vh;
    height: 44.1vh;
    background-size: cover;
}
#imagen18{
    background-image: url('/assets/images/productos/tentacionesnormal-18.jpg');
    width: 42.2vh;
    height: 44.1vh;
    background-size: cover;
}
#imagen19{
    background-image: url('/assets/images/productos/tentacionesnormal-19.jpg');
    width: 57vh;
    height: 52.1vh;
    background-size: cover;
}
#imagen20{
    background-image: url('/assets/images/productos/tentacionesnormal-20.jpg');
    width: 57vh;
    height: 52.1vh;
    background-size: cover;
}
#imagen21{
    background-image: url('/assets/images/productos/tentacionesnormal-21.jpg');
    width: 57vh;
    height: 52.1vh;
    background-size: cover;
}




.description-title{
    
    font-family: 'lato';
    font-style: 'Lato-Bold';
    @include device-md{
        font-size: 48px;
        text-align: left;
        color:   #ffff;

    }
}
.description-title1{
    
    font-family: 'lato';
    font-style: 'Lato-Bold';
    @include device-md{
        font-size: 48px;
        text-align: center;
        color:   #ffff;
      

    }
}

.description-subtitle{
    text-align: center;
    font-family: 'lato';
    font-style: 'Lato-Black';
    font-size: 30px;
    color:   rgb(73, 74, 76);
    line-height:1.2;
}

.description-text{
    font-size: 20px;
    line-height: 1;
    color:#FFFFFF;

    @include device-md{
        font-size: 20px;
        line-height: 1 ; 

    }

}






