
<div class="intro intro" fxLayout="column" fxLayoutAlign="center center"   >

<p class="intro-title">  <b> DESARROLLO DE APLICATIVOS </b> </p>

<p class="intro-subtitle text-thin">  MOBILES ANDROID </p>


  <div >
<img class="image-1" src="assets/images/ninja-for/android-fn.png" alt="">
  </div> 






</div>

