

@import "../../../assets/styles/1-settings/index";
@import "../../../assets/styles/2-tools/index";



  .intro{
    text-align: center;

}


.intro-title{
    
    font-size:30px;
     line-height:1;
     margin: 10px;

     
   @include device-md{

    font-size: 50px;
 line-height: 0.5;
   

}

    

}

.intro-subtitle{
    font-size: 30px;


    @include device-md{

        font-size: 50px;
        margin: 10px;
       
    
    }
    

}


.image-1{
    width: 150px;
    margin: 10px;
    
}




















