<div class="mobile-now landing" fxLayout="column" fxLayoutAlign="start stretch">
  <app-intro></app-intro>
  <!-- <div>
        <div class="mobile-now__subject">
          <div class="mobile-now__subject__header section">
              <h2 class="mobile-now__subject__header__title">CURSO 1:</h2>
              <p>Desarrollo de Aplicaciones Android – Únete al CLAN SENJU</p>
          </div>
          <div class="mobile-now__subject__levels flex-row-layout">
            <div class="mobile-now__subject__levels__item flex overlay-container shake-trigger" routerLink="nivel-1">
              <div class="mobile-now__subject__levels__item__bk mobile-now__subject__levels__item__bk--1"></div>
              <div class="overlay"></div>
              <div class="mobile-now__subject__levels__item__content flex-col-layout ai-center jc-space-between">
                <div class="mobile-now__subject__levels__item__content__title">NIVEL 1 (BÁSICO)</div>
                <img class="shake-slow" src="/assets/images/mobile-now/rasengan.png" alt="">
                <div class="mobile-now__subject__levels__item__content__label">DOMINA EL RASENGAN</div>
              </div>
            </div>
            <div class="mobile-now__subject__levels__item flex overlay-container shake-trigger" routerLink="/proximamente">
                <div class="mobile-now__subject__levels__item__bk mobile-now__subject__levels__item__bk--2"></div>
                <div class="overlay"></div>
                <div class="mobile-now__subject__levels__item__content flex-col-layout ai-center jc-space-between">
                  <div class="mobile-now__subject__levels__item__content__title">NIVEL 1 (INTERMEDIO)</div>
                  <img class="shake-slow" src="/assets/images/mobile-now/rasengan.png" alt="">
                  <div class="mobile-now__subject__levels__item__content__label">DOMINA EL ODAMA RASENGAN</div>
                </div>
            </div>
            <div class="mobile-now__subject__levels__item flex overlay-container shake-trigger" routerLink="/proximamente">
                <div class="mobile-now__subject__levels__item__bk mobile-now__subject__levels__item__bk--3"></div>
                <div class="overlay"></div>
                <div class="mobile-now__subject__levels__item__content flex-col-layout ai-center jc-space-between">
                  <div class="mobile-now__subject__levels__item__content__title">NIVEL 1 (AVANZADO)</div>
                  <img class="shake-slow" src="/assets/images/mobile-now/rasengan.png" alt="">
                  <div class="mobile-now__subject__levels__item__content__label">DOMINA EL FUUTON RASEN SHURIKEN</div>
                </div>
            </div>
          </div>
        </div>
        <div>
          <div class="mobile-now__subject">
            <div class="mobile-now__subject__header section">
              <h2 class="mobile-now__subject__header__title">CURSO 2:</h2>
              <p>Desarrollo de Aplicaciones IOS – Únete al CLAN UCHIHA</p>
            </div>
            <div class="mobile-now__subject__levels flex-row-layout">
              <div class="mobile-now__subject__levels__item flex overlay-container shake-trigger" routerLink="/proximamente">
                <div class="mobile-now__subject__levels__item__bk mobile-now__subject__levels__item__bk--4"></div>
                <div class="overlay"></div>
                <div class="mobile-now__subject__levels__item__content flex-col-layout ai-center jc-space-between">
                  <div class="mobile-now__subject__levels__item__content__title">NIVEL 1 (BÁSICO)</div>
                  <img src="/assets/images/mobile-now/sharingan.png" alt="">
                  <div class="mobile-now__subject__levels__item__content__label">DOMINA EL OJO SHARINGAN 1 ASPA</div>
                </div>
              </div>
              <div class="mobile-now__subject__levels__item flex overlay-container shake-trigger" routerLink="/proximamente">
                  <div class="mobile-now__subject__levels__item__bk mobile-now__subject__levels__item__bk--5"></div>
                  <div class="overlay"></div>
                  <div class="mobile-now__subject__levels__item__content flex-col-layout ai-center jc-space-between">
                    <div class="mobile-now__subject__levels__item__content__title">NIVEL 1 (INTERMEDIO)</div>
                    <img src="/assets/images/mobile-now/sharingan.png" alt="">
                    <div class="mobile-now__subject__levels__item__content__label">DOMINA EL OJO SHARINGAN 2 ASPAS</div>
                  </div>
              </div>
              <div class="mobile-now__subject__levels__item flex overlay-container shake-trigger" routerLink="/proximamente">
                  <div class="mobile-now__subject__levels__item__bk mobile-now__subject__levels__item__bk--6"></div>
                  <div class="overlay"></div>
                  <div class="mobile-now__subject__levels__item__content flex-col-layout ai-center jc-space-between">
                    <div class="mobile-now__subject__levels__item__content__title">NIVEL 1 (AVANZADO)</div>
                    <img src="/assets/images/mobile-now/sharingan.png" alt="">
                    <div class="mobile-now__subject__levels__item__content__label">DOMINA EL OJO SHARINGAN 3 ASPAS</div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div> --><!--
  <div class="section text-black mobile-now__content">
    <div class="flex-row-layout px-3">-->
      <!-- <div class="spacer-h-50"></div> -->
      <!--
      <div>
        <div style="display:flex;flex-direction:column;align-items:center">

          <div class="microsoft-project-now-text-principal">
            <h1 class="text-sky-blue">Para tu complemento</h1><br>
            <p class="text-thin">Para tu complemento</p><br>
            <p class="text-thin">Para tu super mamá</p><br>
            <p class="text-thin">Para tu super papá</p><br>
            <p class="text-thin">Para tu mejor amiga</p><br>
            <p class="text-thin">Para tu mejor amigo</p><br>
          </div>

          <div class="spacer-45"></div>
          <hr class="mobile-now-hr">
          <div class="certification-capmnow">
                <div class="microsoft-project-now-text-principal">
                  <h1 class="text-sky-blue">Bocaditos</h1><br>
                  <p class="text-thin">Te brindamos la opción de hacer bocaditos buenazos a una inversión razonable 
                    y así brindar alegría a tus invitados. 
                    Puedes recogerlo en nuestras oficinas, módulo físico o te lo llevamos</p><br>
                  <p class="text-thin">Fuente de tequeños</p><br>
                  <p class="text-thin">Fuente de empanaditas</p><br>
                  <p class="text-thin">Fuente de sanguches de pollo</p><br>
                  <p class="text-thin">Fuente de orejitas</p><br>
                  <p class="text-thin">Fuente de alfajores</p><br>
                </div>
          <div class="">

          </div>

            <hr class="mobile-now-hr"><br>-->

          <!-- <div class="spacer-25"></div>

              <div class="certification-capmnow-price">
                <div class="">
                <img src="/assets/images/project-microsoft/2.png" width="1000px">
                </div>
                <div>
                <img src="/assets/images/project-microsoft/3.png" width="700px">
                </div>
              </div>
            </div>-->
            <!--
        </div>

        <div>
          <div class="flex-col-layout ai-center">

            <div class="spacer-50"></div>
            <button class="mobile-now__btn-information bg-sky-blue hover__zoomIn" routerLink="/unete" [queryParams]="{contact: '1'}">
              MAYOR INFORMACIÓN
            </button>
            <div class="spacer-50"></div>
            <div class="spacer-20"></div>
            <div class="text-center">
              <p>
                <b>Enviar un correo electrónico</b> con el sustento de pago (foto de voucher)<br>
                al correo: <b>pagosycobranzasnow@gmail.com</b> con copia a<br>
                <b>capmnowteam@gmail.com</b> asunto: <b>"Pago de inscripción curso CAPM+HORARIO</b>
              </p>
            </div>
            <div class="spacer-40"></div>
            <div class="text-center mobile-now-green-text">
              <h2>Notas:</h2>
              <p class="mobile-now-text-left">
                - Evita pago por ventanilla de lo contrario tendras que pagar un adicional de 3.50<br>
                - Pago realizado por agente o agencia BCP no pagara comision.<br>
                - Si realiza pago desde provincia debera realizar un abono adicional 7.50<br>
                (Comision de banco por transferencia Lima-Porvincia)
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->