<div class="presentation landing">
  <div id="fondo" class="intro" fxLayout="column" fxLayoutAlign="center center">
    <div id="title" class="presentation-container"><br><br>
      <div class="flex-col-layout ai-center">
        <div   class="presentation-title">
          Algo rico en el día
        </div>
        <div  class="presentation-title1">
          es la llave de la alegría. 
        </div>
        <div  class="presentation-description">
            Tentaciones Bruild...momentos de alegría
        </div>
        <div class="spacer-40"></div>
        <div>
          <div class="hover__zoomIn">
            <button class="presentation__btn" routerLink="/nosotros"> DESCUBRE </button>
          </div>
        </div>
      </div>
      <!-- <p class="presentation-title"> <b>CURSO DE DESARROLLO <br> DE APLICACIONES</b> </p> -->
      <!-- <ul fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="12px" class="presentation-subjects text-thin">
          <li fxLayout="row" fxLayoutAlign="center center"> <img src="/assets/images/android-logo.png" alt=""> <span>ANDROID</span>  </li>
          <li fxLayout="row" fxLayoutAlign="center center"> <img src="/assets/images/icon.png" alt=""> <span>iOS</span> </li>
          <li fxLayout="row" fxLayoutAlign="center center"> <img src="/assets/images/server.png" alt=""> <span>LÓGICA DE PROGRAMACIÓN</span> </li> 
          <li fxLayout="row" fxLayoutAlign="center center"> <img src="/assets/images/lamp.png" alt=""> <span>DISEÑO UX/UI</span> </li>
        </ul>
        <P class="text-thin"> Estás a punto de vivir una experiencia de aprendizaje en un rubro que ha permitido conquistar <br>
          las barreras de comunicación y reducir la brecha entre todas las personas del mundo.  </P>
         <p> <b> LA TECNOLOGÍA </b> </p>
         <p class="text-thin"> Conoce, crea y crece con nuestros programas y cursos en temas de tecnología  <br> bajo una metodología de aprendizaje
          que te dará resultados. </p>
          <p class="presentation-margin"><b> ¡Vive la cultura Ninja! </b></p> -->
    </div>
  </div>
</div>