@import "../../assets/styles/1-settings/index";
@import "../../assets/styles/2-tools/mixins/transition.scss";

//#fondo{
 //   background-image: url(/assets/images/presentation/tentacioneas-01.png   );
 //  opacity: none;
//}

#title{
    height: 250px; 
}


.presentation{
    text-align: center;
    font-family: 'lato';
    //font-family:'cookie';
  //  font-family:'satisfy';
  //font-family:'smell';
  

    // .presentation-title{
        
    // }
    // .presentation-subjects{
    //     margin: 12px;

    //     li{
    //         display: inline;
    //         img{
    //            margin-right: 8px; 
    //         }
    //     }
    // }
    // .presentation-margin{ 
    //     margin-bottom: 15px
    // }
    &__description{
        max-width: 30px;
    
        
    }
    &__btn{
        font-weight: bold;
        font-style: 'Lato-Black.ttf';
        padding: 10px 50px;
        border: 2px solid $white;
      //  background: transparent;
        color: #ffffff;
        @include transition2(all .2s ease);
        &:hover{
            background-color: $white;
            color: rgb(29, 19, 14);
        }
    }
}

.presentation-description{
    color: rgb(255, 255, 255);
    font-size: 45px;
    font-style: 'Lato-LightItalic.ttf';
    margin: -0.5% 0;
}

.presentation-title{
    font-size: 85px;
    color: #F98AB2;
   font-family:'Queen of Heaven';
    margin: -1.0%;
} 



.presentation-title1{
    font-size: 50px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-style: 'Lato-Black.ttf';
    margin: -1.0% 0;
    
}







