<div class="landing">
  <div id="footerTamaño" class="footer section">
    <div class="flex-row-layout jc-space-between flex-wrap">

      <div>
        <h2 id="prueba3">OFICINA</h2>
        <div class="flex-col-layout open-sans">
          <div id="prueba2"  class="flex-row-layout">
            <img src="/assets/images/footer/ubicacion.svg" alt="" width="20">
            <div class="spacer-h-10"></div>
            <p id="prueba">Parque Rosedal 250  <br>
              Ciudad Satélite Santa Rosa, <br>
               Callao</p>
         </div>
        </div>
      </div>

      <div>
        <h2 id="prueba3">TELÉFONOS</h2>
        <div class="flex-col-layout open-sans">

          <div id="prueba2" class="flex-row-layout">
            <img src="/assets/images/footer/telefono.svg" alt="" width="20">
            <div class="spacer-h-10"></div>
            <p id="prueba">931098898</p>
          </div>

          <!--<div class="flex-row-layout">
            <img src="/assets/images/footer/whatsapp.svg" alt="" width="20">
            <div class="spacer-h-10"></div>
            <p>(+51) 936507623</p>
          </div>-->
        </div>
      </div>
      <div>
          <h2 id="prueba3">CONTÁCTANOS</h2>
          <div class="flex-col-layout open-sans">
            <div id="prueba2" class="flex-row-layout">
              <img  src="/assets/images/footer/email.svg" alt="" width="20">
              <div class="spacer-h-10"></div>
              <p><a id="prueba" href="mailto:tentaciones.bruild@gmail.com" class="ao-link" target="_blank">
                tentaciones.bruild@gmail.com
              </a></p>
            </div>
          </div>
      </div>
      <div>
        <h2 id="prueba3">SÍGUENOS EN</h2>
        <div class="flex-col-layout open-sans">
          <div id="prueba2"  class="flex-row-layout">
            <img src="/assets/images/footer/facebook.svg" alt="" width="20">
            <div class="spacer-h-10"></div>
            <p><a id="prueba" href="https://www.facebook.com/TentacionesBruild/" class="ao-link" target="_blank">
              @tentacionesbruild
            </a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>