@import "../../../assets/styles/1-settings/index";
@import "../../../assets/styles/2-tools/index";

:host{
    background-color: rgb(50, 38, 18);
    color: rgb(194, 60, 96);
    
    
}




#prueba{
    color: #ffff;
    font-size: 20px;
    margin: -10px 3px;
    line-height: 110%;
}

#prueba2{
    padding: 4px;
    }

#prueba3{
    font-size: 28px;
    font-family: 'lato';
    font-style: 'Lato-Bold';
}



.landing{
   min-height: 150px;
    font-family: 'lato';
}

.footer{
    font-size: 12px;
}

.landing, #footerTamaño{
    height: 165px;
    margin-top: -22px;

}
