<div class="shinobi-kunoichi section">
    <p class="shinobi-kunoichi-subtitle" style="color: #172640"> Tentaciones  </p>
    <p class="shinobi-kunoichi-subtitle" style="color: #8e3134"> Bruild</p>
</div>

