

@import "../../../assets/styles/1-settings/index";
@import "../../../assets/styles/2-tools/index";

.shinobi-kunoichi{
  text-align: center;
  font-family: 'Museo'
}

.shinobi-kunoichi-subtitle{
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
}

.shinobi-kunoichi-title{
    // font-size: 40px;
    color: #0A0A0A;
//    margin-bottom: -35px;
    @include device-md{
        // font-size: 45px;
       

    }

}

.shinobi-kunoichi-subtitle{
    // font-size: 25px;
    // color: #31D31A ;
   

    @include device-md{
        // font-size: 45px;
        
        

    }

}

.shinobi-iten-ico{
    width: 30px;
    margin-right: 8px;

}

