.level-1{
    &__intro{
        font-size: 20px;
        background-image: url(/assets/images/mobile-now/level-1/intro-bk.jpg)
    }
    &__content{
        color: #000;
        &__title{
            color: #5a8abb;
        }
    }
}