<div class="level-1 landing">
  <div class="level-1__intro intro"fxLayout="column" fxLayoutAlign="center center">
    <img  class="multi-line"src="/assets/images/us/multi-lines.png" alt="">
    <h2>MOBILE <span class="text-thin">NOW</span></h2>
    <div class="spacer-25"></div>
    <h5>NIVEL 1 (BÁSICO)</h5>
    <div class="spacer-15"></div>
    <p>Domina el Rasengan</p>
  </div>
  <div class="level-1__content section">
    <h1 class="level-1__content__title">CURSO 1:</h1>
    <div class="spacer-5"></div>
    <h5>Desarrollo de Aplicaciones Android - Únete al CLAN SENJU</h5>
  </div>
</div>

