
<div class="developmen section"   >


    <div  class="development-link" href="" routerLink="/formacion/mobile-now/android">
        <p class="developmen-title">
        <b> DESARROLLO DE APLICATIVOS </b>
        </p>
    
        <p class="developmen-subtitle text-thin "> MOBILES ANDROID </p>
    </div>

    <p class="developmen-description text-thin"> En este curso aprenderás a desarrollar una tienda online sin tener conocimientos de programación. <br>
        La tienda te ayudará en la administración de tus productos y la gestión de tus ventas,además podrás <br>
        llegar a más clientes.  </p>


















  </div>







