
<div class="mobile-now-intro intro"fxLayout="column" fxLayoutAlign="center center">
   
<div class="cuadro">
  <p class="mobile-now-title"> TORTAS <strong>A PEDIDO</strong>    </p><br/>
</div>

<div class="mobile-now-subtittle"> Llévate una torta entera y <strong>comparte</strong> alegría con los <strong>demás.</strong> 
</div>
</div>


<div id="container">
    <div ng2-carouselamos class="slides-wrapper"
               [items]="items"
               [width]="1350"
               [$prev]="prev"
               [$next]="next"
               [$item]="item">
            </div>
            <ng-template #prev>
                <img src="/assets/images/servicios/left.png"  id="left">
              </ng-template>

              <ng-template #next>
                <img src="/assets/images/servicios/flecha.png"  id="right">
              </ng-template>

              <ng-template #item let-item let-i="index" >
                <div class="items">

                <!--    <img src="/assets/images/productos/tentacionesnormal-03.jpg">-->
                <img id="tama" src="{{ item.name }}">
                </div>
              </ng-template>
</div>

<div class="espacio"></div>
