

@import "../../../assets/styles/1-settings/index";
@import "../../../assets/styles/2-tools/index";


.mobile-now-intro{
    text-align: center;
    background: white;
    height: 360px;

}

.cuadro{
    position: absolute;
    background: #f5c07c;
    top: 100px;
    left:0px;
    width: 100%;
    height: 150px;
}

.mobile-now-title{
    color: black;
    font-size:70px;
  //  font-weight: bold;
    font-family: 'Lato';
    font-style: 'Lato-Black';
     line-height:0.8;
     margin: 40px;
     text-align: center;
 
}

.mobile-now-subtittle{
    color: rgb(73, 74, 76);
    font-size:37px;
    line-height:0.8;
     margin: 20px;
     text-align: center;
     font-family: 'Lato';
    font-style: 'Lato-Black';
    position: absolute;
    top: 265px;

}



#container{

  width: 100%;
  margin: 0em;
  height: 550px;
  
  padding:0;
  background: black;

}

.items{
max-width:1350px;
height: 550px;
background: red;
}

#tama{
  width: 1350px;
  height: 550px;
}
#left{
  background: transparent;
margin:0px;
opacity: 0.2;
}

#right{
  background: transparent;
margin:0px;
opacity: 0.2;
}

.espacio{
  height: 100px;
  width: 100%;
  background: #ffff;
}