
<div class="ninja-formation landing" fxLayout="column" fxLayoutAlign="start stretch">
  <app-intro></app-intro>
 <!--<app-knowledgement></app-knowledgement>-->
  <app-subjects></app-subjects>
    <app-tortas> </app-tortas>
  <app-personalizado></app-personalizado>
  <app-foto></app-foto>
   <app-cupcake></app-cupcake>
  <app-dulce></app-dulce>
  <app-bocaditos></app-bocaditos>

</div>