<div class="mobile-now landing" fxLayout="column" fxLayoutAlign="start stretch">
  <!--<app-intro></app-intro>
   <div>
      <div class="mobile-now__subject">
        <div class="mobile-now__subject__header section">
            <h2 class="mobile-now__subject__header__title">CURSO 1:</h2>
            <p>Desarrollo de Aplicaciones Android – Únete al CLAN SENJU</p>
        </div>
        <div class="mobile-now__subject__levels flex-row-layout">
          <div class="mobile-now__subject__levels__item flex overlay-container shake-trigger" routerLink="nivel-1">
            <div class="mobile-now__subject__levels__item__bk mobile-now__subject__levels__item__bk--1"></div>
            <div class="overlay"></div>
            <div class="mobile-now__subject__levels__item__content flex-col-layout ai-center jc-space-between">
              <div class="mobile-now__subject__levels__item__content__title">NIVEL 1 (BÁSICO)</div>
              <img class="shake-slow" src="/assets/images/mobile-now/rasengan.png" alt="">
              <div class="mobile-now__subject__levels__item__content__label">DOMINA EL RASENGAN</div>
            </div>
          </div>
          <div class="mobile-now__subject__levels__item flex overlay-container shake-trigger" routerLink="/proximamente">
              <div class="mobile-now__subject__levels__item__bk mobile-now__subject__levels__item__bk--2"></div>
              <div class="overlay"></div>
              <div class="mobile-now__subject__levels__item__content flex-col-layout ai-center jc-space-between">
                <div class="mobile-now__subject__levels__item__content__title">NIVEL 1 (INTERMEDIO)</div>
                <img class="shake-slow" src="/assets/images/mobile-now/rasengan.png" alt="">
                <div class="mobile-now__subject__levels__item__content__label">DOMINA EL ODAMA RASENGAN</div>
              </div>
          </div>
          <div class="mobile-now__subject__levels__item flex overlay-container shake-trigger" routerLink="/proximamente">
              <div class="mobile-now__subject__levels__item__bk mobile-now__subject__levels__item__bk--3"></div>
              <div class="overlay"></div>
              <div class="mobile-now__subject__levels__item__content flex-col-layout ai-center jc-space-between">
                <div class="mobile-now__subject__levels__item__content__title">NIVEL 1 (AVANZADO)</div>
                <img class="shake-slow" src="/assets/images/mobile-now/rasengan.png" alt="">
                <div class="mobile-now__subject__levels__item__content__label">DOMINA EL FUUTON RASEN SHURIKEN</div>
              </div>
          </div>
        </div>
      </div>
      <div>
        <div class="mobile-now__subject">
          <div class="mobile-now__subject__header section">
            <h2 class="mobile-now__subject__header__title">CURSO 2:</h2>
            <p>Desarrollo de Aplicaciones IOS – Únete al CLAN UCHIHA</p>
          </div>
          <div class="mobile-now__subject__levels flex-row-layout">
            <div class="mobile-now__subject__levels__item flex overlay-container shake-trigger" routerLink="/proximamente">
              <div class="mobile-now__subject__levels__item__bk mobile-now__subject__levels__item__bk--4"></div>
              <div class="overlay"></div>
              <div class="mobile-now__subject__levels__item__content flex-col-layout ai-center jc-space-between">
                <div class="mobile-now__subject__levels__item__content__title">NIVEL 1 (BÁSICO)</div>
                <img src="/assets/images/mobile-now/sharingan.png" alt="">
                <div class="mobile-now__subject__levels__item__content__label">DOMINA EL OJO SHARINGAN 1 ASPA</div>
              </div>
            </div>
            <div class="mobile-now__subject__levels__item flex overlay-container shake-trigger" routerLink="/proximamente">
                <div class="mobile-now__subject__levels__item__bk mobile-now__subject__levels__item__bk--5"></div>
                <div class="overlay"></div>
                <div class="mobile-now__subject__levels__item__content flex-col-layout ai-center jc-space-between">
                  <div class="mobile-now__subject__levels__item__content__title">NIVEL 1 (INTERMEDIO)</div>
                  <img src="/assets/images/mobile-now/sharingan.png" alt="">
                  <div class="mobile-now__subject__levels__item__content__label">DOMINA EL OJO SHARINGAN 2 ASPAS</div>
                </div>
            </div>
            <div class="mobile-now__subject__levels__item flex overlay-container shake-trigger" routerLink="/proximamente">
                <div class="mobile-now__subject__levels__item__bk mobile-now__subject__levels__item__bk--6"></div>
                <div class="overlay"></div>
                <div class="mobile-now__subject__levels__item__content flex-col-layout ai-center jc-space-between">
                  <div class="mobile-now__subject__levels__item__content__title">NIVEL 1 (AVANZADO)</div>
                  <img src="/assets/images/mobile-now/sharingan.png" alt="">
                  <div class="mobile-now__subject__levels__item__content__label">DOMINA EL OJO SHARINGAN 3 ASPAS</div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <!--
  <div class="section text-black mobile-now__content">
    <div class="flex-row-layout px-3">-->
      <!-- <div class="spacer-h-50"></div> -->
      <!--
      <div>
        <div style="display:flex;flex-direction:column;align-items:center">
          <div class="mobile-now-text-principal">
            <h1 class="text-sky-blue">Tortas con diseños personalizados</h1><br>
            <p class="text-thin">Manda hacer una torta con el diseño que más te guste, aquí te damos algunos ejemplos.</p><br>
            
            <div fxLayout="row" class="flow-component-part1">
              <div class="line-1-text" fxFlex="50%">
                <div fxFlex>
                  <div class="methodology-flow-img-now">
                    <img src="/assets/images/mobile-now/computador-1.png" alt="">
                  </div>
                </div>
              </div>
              <div fxLayout="row" fxLayoutGap="10px" fxFlex="50%">
                <div fxFlex>
                  <br>
                  <br>
                  <div class="mobile-now__description-tittle">Temática fiesta infaltil</div>
                  <p class="mobile-now__description-text"><img src="/assets/images/mobile-now/circulo-verde.png"> comentario</p>
                 </div>
              </div>
            </div>

            <div fxLayout="row" class="flow-component-part2">
              <div fxLayout="row" fxLayoutGap="10px" fxFlex="50%">
                <div fxFlex>
                  <div class="mobile-now__description-tittle">Temática Baby Shower</div>
                  <p class="mobile-now__description-text"><img src="/assets/images/mobile-now/circulo-verde.png"> comentario
                   </p>
                </div>
              </div>
              <div class="line-1-text" fxFlex="50%">
                <div fxFlex>
                  <div class="methodology-flow-img-now-2">
                    <img src="/assets/images/mobile-now/computador-2.png" alt="">
                  </div>
                </div>
              </div>
            </div>
            <div fxLayout="row" class="flow-component-part1">
              <div class="line-1-text" fxFlex="50%">
                <div fxFlex>
                  <div class="methodology-flow-img-now">
                    <img src="/assets/images/mobile-now/computador-1.png" alt="">
                  </div>
                </div>
              </div>
              <div fxLayout="row" fxLayoutGap="10px" fxFlex="50%">
                <div fxFlex>
                  <br>
                  <br>
                  <div class="mobile-now__description-tittle">Temática Promoción</div>
                  <p class="mobile-now__description-text"><img src="/assets/images/mobile-now/circulo-verde.png"> comentario</p>
                 </div>
              </div>
            </div>
          </div>
          <div class="spacer-45"></div>

          <hr class="mobile-now-hr"><br>
          <div fxLayout="row" class="flow-component-part2">
            <div fxLayout="row" fxLayoutGap="10px" fxFlex="50%">
              <div fxFlex>
                <div class="mobile-now__description-tittle">Temática Matrimonio</div>

                    <div class="methodology-flow-img-now">
                    <p class="mobile-now__description-text">
                    <img src="/assets/images/mobile-now/computador-1.png"> comentario<br>
                    </p></div>
              </div>
            </div>
            
            <div fxLayout="row" fxLayoutGap="10px" fxFlex="50%">
              <div fxFlex>
                <div class="mobile-now__description-tittle">Temática Amor</div>

                <div class="methodology-flow-img-now">
                    <p class="mobile-now__description-text">
                    <img src="/assets/images/mobile-now/computador-1.png"> comentario<br>
                    </p>
                </div>
              </div>
            </div>
          </div>
        
          <div fxLayout="row" class="flow-component-part2">
              <div fxLayout="row" fxLayoutGap="10px" fxFlex="50%">
                <div fxFlex>
                  <div class="mobile-now__description-tittle">Temática Navideña</div>
  
                      <div class="methodology-flow-img-now">
                      <p class="mobile-now__description-text">
                      <img src="/assets/images/mobile-now/computador-1.png"> comentario<br>
                      </p></div>
                </div>
              </div>
              
              <div fxLayout="row" fxLayoutGap="10px" fxFlex="50%">
                <div fxFlex>
                  <div class="mobile-now__description-tittle">Temática Hincha</div>
  
                  <div class="methodology-flow-img-now">
                      <p class="mobile-now__description-text">
                      <img src="/assets/images/mobile-now/computador-1.png"> comentario<br>
                      </p>
                  </div>
                </div>
              </div>
            </div>
          <br>    
        </div>
        <hr class="mobile-now-hr"><br>
        <div class="spacer-45"></div>
        <div>
          <div class="flex-col-layout ai-center">
            <div class="spacer-50"></div>
            <button class="mobile-now__btn-information bg-sky-blue hover__zoomIn" routerLink="/unete" [queryParams]="{contact: '1'}">
              MAYOR INFORMACIÓN
            </button>
            <div class="spacer-50"></div>
            <div class="spacer-20"></div>
            <div class="text-center">
              <p>
                <b>Enviar un correo electrónico</b> con el sustento de pago (foto de voucher)<br>
                al correo: <b>pagosycobranzasnow@gmail.com</b> con copia a<br>
                <b>capmnowteam@gmail.com</b> asunto: <b>"Pago de inscripción + HORARIO</b>
              </p>
            </div>
            <div class="spacer-40"></div>
            <div class="text-center mobile-now-green-text">
              <h2>Notas:</h2>
              <p class="mobile-now-text-left">
                - Evita pago por ventanilla de lo contrario tendras que pagar un adicional de S/3.50<br>
                - Pago realizado por agente o agencia BCP no pagara comision.<br>
                - Si realiza pago desde provincia debera realizar un abono adicional S/7.50<br>
                (Comision de banco por transferencia Lima-Porvincia)
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->