
<div class="ninja-formation-intro intro" fxLayout="column" fxLayoutAlign="center center">
  <img  class="arrow-down animated bounce infinite" src="/assets/images/common/arrow-down.svg" alt=""
  scrollTo="0">
  <p class="ninja-formation-title">
    <b>Conoce Nuestros</b>
  </p>
  <p class="ninja-formation-subtitle"> Servicios</p>

</div>