

.ninja-formation-intro{
    background-image: url(/assets/images/serviciosadicionales/cabecera-19.jpg);
    background-attachment: fixed;
    //font-family: 'Museo'
}



.ninja-formation-title{
  //  text-align: center;
    font-size: 125px;
    color: #F98AB2;
        font-family: 'Kafka';
    
    line-height: 0.2px; 
}




    

.ninja-formation-subtitle{
    //text-align: center;
    font-size: 116px;
  font-weight: bold;
    font-family: 'lato';
    font-style: 'Lato-Black';
    color: #ffff;
    height: 80px;
}





    