

<div class="android-development  landing" fxLayout="column" fxLayoutAlign="start stretch">

  
  <app-intro></app-intro>
  <app-presentation></app-presentation>
  <app-content></app-content>
  <app-benefits></app-benefits>
  <app-circles></app-circles>
  <app-online-registration></app-online-registration>
  <app-notes></app-notes>
  
</div>

