

@import "../../../assets/styles/1-settings/index";
@import "../../../assets/styles/2-tools/index";



:host


.knowledgement{
text-align: center; 
font-family: 'Museo';
}

.knowledgement-title{
    font-size: 30px;
    color: #0A0A0A; 
    line-height: 1 ;
    text-align: center;
    margin-bottom: 15px;
    @include device-md{
        font-size: 40px;
       

    }
}

.knowledgement-title-1{
    text-align: center;
    font-family: 'lato';
    font-style: 'Lato-Black';
    font-size: 34px;
    color:   rgb(73, 74, 76);
    line-height:1.3;
}

.knowledgement-subtitle-1{
    font-size: 40px;
    font-weight: bold;
    color: #80192B;
    font-family: 'Museo';
}

.knowledgement-subtitle{
    font-size: 30px;
    color: $creatividad-color;
    line-height: 1;
    text-align: center;
    margin-bottom: 15px;
    @include device-md{
        font-size: 40px;
       

    }


}

.knowledgement-iten-ico{
    width: 30px;
    margin-right: 5px;

}

.shinobi-iten-ico{
    width: 30px;
    margin-right: 8px;

}

.presentation-subjects{
    margin-bottom: 15px;
}